/**
* @description: Standard Layout
* @author: Oscar Cosme
* @date: 16/06/16
* @version: 1.0
*/
@font-face {
  font-family: 'flexoRegular';
  src: url("flexo/durotype_-_flexo-regular-webfont.eot");
  src: url("flexo/durotype_-_flexo-regular-webfont.eot?#iefix") format('embedded-opentype'), url("flexo/durotype_-_flexo-regular-webfont.woff") format('woff'), url("flexo/durotype_-_flexo-regular-webfont.ttf") format('truetype'), url("flexo/durotype_-_flexo-regular-webfont.svg#flexoRegular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'flexoBold';
  src: url("flexo/durotype_-_flexo-bold-webfont.eot");
  src: url("flexo/durotype_-_flexo-bold-webfont.eot?#iefix") format('embedded-opentype'), url("flexo/durotype_-_flexo-bold-webfont.woff") format('woff'), url("flexo/durotype_-_flexo-bold-webfont.ttf") format('truetype'), url("flexo/durotype_-_flexo-bold-webfont.svg#flexoRegular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'flexoBoldit';
  src: url("flexo/durotype_-_flexo-demi-webfont.eot");
  src: url("flexo/durotype_-_flexo-boldit-webfont.eot?#iefix") format('embedded-opentype'), url("flexo/durotype_-_flexo-boldit-webfont.woff") format('woff'), url("flexo/durotype_-_flexo-boldit-webfont.ttf") format('truetype'), url("flexo/durotype_-_flexo-boldit-webfont.svg#flexoRegular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'flexoDemi';
  src: url("flexo/durotype_-_flexo-demi-webfont.eot");
  src: url("flexo/durotype_-_flexo-demi-webfont.eot?#iefix") format('embedded-opentype'), url("flexo/durotype_-_flexo-demi-webfont.woff") format('woff'), url("flexo/durotype_-_flexo-demi-webfont.ttf") format('truetype'), url("flexo/durotype_-_flexo-demi-webfont.svg#flexoRegular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'flexoRegularit';
  src: url("flexo/durotype_-_flexo-it-webfont.eot");
  src: url("flexo/durotype_-_flexo-it-webfont.eot?#iefix") format('embedded-opentype'), url("flexo/durotype_-_flexo-it-webfont.woff") format('woff'), url("flexo/durotype_-_flexo-it-webfont.ttf") format('truetype'), url("flexo/durotype_-_flexo-it-webfont.svg#flexoRegular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'flexoHeavyit';
  src: url("flexo/durotype_-_flexo-heavyit-webfont.eot");
  src: url("flexo/durotype_-_flexo-heavyit-webfont.eot?#iefix") format('embedded-opentype'), url("flexo/durotype_-_flexo-heavyit-webfont.woff") format('woff'), url("flexo/durotype_-_flexo-heavyit-webfont.ttf") format('truetype'), url("flexo/durotype_-_flexo-heavyit-webfont.svg#flexoHeavyit") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'flexoLight';
  src: url("flexo/durotype_-_flexo-light-webfont.eot");
  src: url("flexo/durotype_-_flexo-light-webfont.eot?#iefix") format('embedded-opentype'), url("flexo/durotype_-_flexo-light-webfont.woff") format('woff'), url("flexo/durotype_-_flexo-light-webfont.ttf") format('truetype'), url("flexo/durotype_-_flexo-light-webfont.svg#flexoLight") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'flexoLightIt';
  src: url("flexo/durotype_-_flexo-lightit-webfont.eot");
  src: url("flexo/durotype_-_flexo-lightit-webfont.eot?#iefix") format('embedded-opentype'), url("flexo/durotype_-_flexo-lightit-webfont.woff") format('woff'), url("flexo/durotype_-_flexo-lightit-webfont.ttf") format('truetype'), url("flexo/durotype_-_flexo-lightit-webfont.svg#flexoLight") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'flexoMediumIt';
  src: url("flexo/durotype_-_flexo-mediumit-webfont.eot");
  src: url("flexo/durotype_-_flexo-mediumit-webfont.eot?#iefix") format('embedded-opentype'), url("flexo/durotype_-_flexo-mediumit-webfont.woff") format('woff'), url("flexo/durotype_-_flexo-mediumit-webfont.ttf") format('truetype'), url("flexo/durotype_-_flexo-mediumit-webfont.svg#flexoLight") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'flexoThin';
  src: url("flexo/durotype_-_flexo-thin-webfont.eot");
  src: url("flexo/durotype_-_flexo-thin-webfont.eot?#iefix") format('embedded-opentype'), url("flexo/durotype_-_flexo-thin-webfont.woff") format('woff'), url("flexo/durotype_-_flexo-thin-webfont.ttf") format('truetype'), url("flexo/durotype_-_flexo-thin-webfont.svg#flexoLight") format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'flexoRegular';
}
table.datos {
  width: 640px;
  text-align: center;
  margin: 0 auto;
}
table.datos tr td {
  vertical-align: middle;
  font-size: .9em;
  padding: 23px 0;
}
table.datos tr td span.title {
  font-family: 'flexoLight';
  text-align: center;
  color: #e14f00;
  font-size: 25px;
  padding-left: 30px;
}
table.datos tr td.box {
  border-top: 1px solid #d6d6d6;
}
table.datos tr td.box .four {
  color: #e14f00;
}
table.datos tr td.box .var {
  background: #d5e6f0;
  padding: 10px;
  border: 1px solid #b7c8d2;
  width: 50%;
  margin: 0 0 0 40%;
}
table.datos tr td:first-child {
  text-align: left !important;
  width: 422px;
}
table.datos tr td:last-child {
  text-align: right;
  width: 218px;
}
table.datos tr td:last-child .strong {
  display: initial;
}
table.datos tr td span {
  display: block;
}
table.datos tr td span.strong {
  padding: 0;
}
table.datos tr td span.sub {
  padding-top: .5em;
  color: #868686;
  font-size: .9em;
}
table.datos tr td input {
  padding: 10px;
  background: #d5e6f0;
  border: 1px solid #b7c8d2;
  border-radius: 2px;
  font-size: 15px;
  width: 130px;
}
