//COLOR
$blanco: #fff;
$orange: #e14f00;
$blue: #004475;
//FONTS
$bold: 'flexoBold';
$regular: 'flexoRegular';
$thin: 'flexoThin';

//MIXINS
@mixin ulcero {
	padding: 0;
	margin: 0;
}
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

//$width-name: max-device-width;
$width-name: max-width;
$tablet: 768px;
$iPhone6: 414px;
$iPhone5: 320px;

@media screen and ($width-name : $tablet) {
	.container {
		width: 95%;
	}

	header {
		//width: 414px;
		width: 100%;
		a {
			&.logo {
				left: 15px;
			}
		}
		nav {
			width: 100%;
			.btn-menu-close {
				right: 30px;
			}
			ul {
				&.social {
					text-align: center;
					padding: 50px 0;
				}
				&.menu {
					width: 100%;
					text-align: center;
					li {
						&.line-bottom {
							background: url(../images/bg-menu-li-bottom.png) no-repeat center bottom;
						}
						a {
							background: none;
							padding: 10px 0;
						}
					}
				}
			}
		}
	}

	section.home-banner.first-banner {
		//width: 414px;
		width: 100%;
		height: 205px !important;
		.caroufredsel_wrapper {
			//width: 100%;
			.carousel {
				height: 205px;
				.item {
					height: 205px;
					background-size: cover !important;
					a {
						height: 205px;
					}
					&.item-1 {
						background: url(../images/responsive/img-banner1.jpg) no-repeat center center;
					}
					&.item-2 {
						background: url(../images/responsive/img-banner2.jpg) no-repeat center center;
					}
					&.item-3 {
						background: url(../images/responsive/img-banner3.jpg) no-repeat center center;
					}
					&.item-4 {
						background: url(../images/responsive/img-banner4.jpg) no-repeat center center;
					}
					&.item-5 {
						background: url(../images/responsive/img-banner5.jpg) no-repeat center center;
					}
				}
			}
		}
		.pager {
			bottom: 40px;
		}
		.arrow {
			background-size: cover;
			bottom: 25px;
			width: 45px;
			height: 45px;
		}
	}
	section.home-scholarships-credits {
		height: initial;
		h2 {
			font-size: 25px;
			margin: 0;
			padding: 2em 0 0;
			width: initial;
		}
		p {
			width: initial;
			font-size: .95em;
			margin: 0 0 25px 0;
			padding: 1em 3em;
		}
	}
	section.home-scholarships-credits-info {
		height: 170px;
		.bgs {
			height: auto;
			.bgs-pos {
				.content-bg {
					width: 100%;
					height: 170px;
					p, a {
						display: none;
					}
				}
				&.left {
					height: 170px;
					img {
						&.respo {
							display: block;
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							left: 0;
							margin: auto;
						}
					}
				}
				&.right {
					height: 170px;
					img {
						&.respo {
							display: block;
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							left: 0;
							margin: auto;
						}
					}
				}
				img {
					&.title {
						display: none;
					}
				}
			}
		}
	}
	section.slider-two {
		display: none !important;
	}
	section.mobile-eduFinanciera {
		display: block;
		background: #003f6c;
		-webkit-background: radial-gradient(circle, #003f6c 30%, #002e4f);
		-o-background: radial-gradient(circle, #003f6c 30%, #002e4f);
		-moz-background: radial-gradient(circle, #003f6c 30%, #002e4f);
		background: radial-gradient(circle, #003f6c 30%, #002e4f);

		padding: 2em 0;
		position: relative;
		h2 {
			font-family: $regular;
			text-align: center;
			color: $blanco;
			font-size: 1.5em;
			padding: 1em 0;
		}
		ul {
			padding: 0 2em;
			li {
				background: url(../images/responsive/right.png) no-repeat left center;
				padding: 1.5em 1em 1.5em 1.5em;
				border-top: 1px solid #295e83;
				a {
					color: #51d8e4;
					text-decoration: none;
					font-family: $thin;
					font-style: italic;
				}
			}
		}
		.arrow {
			display: block;
			position: absolute;
			bottom: 0;
			background: url(../images/dentado.png) repeat-x;
			width: 100%;
			height: 5px;
		}
	}
	section.home-tax-works {
		background: url(../images/bg_pattern.png);
		height: auto;
		.container {
			span.title {
				font-size: 25px;
				padding: 1.5em 0 .9em;
			}
			p {
				width: auto !important;
				margin-bottom: 20px !important;
				font-size: .9em !important;
				padding: 0 3em;
			}
			a.more {
				display: block;
				position: initial;
				margin: 1em auto 2em;
			}
			.left, .right {
				display: none;
			}
		}
	}
	/*======================================== 
	BECAS Y CREDITOS 
	========================================*/
	section.scholarships-credits-header {
		.banner {
			background: url(../images/responsive/bg-scholarships-credits-banner.jpg) no-repeat center top;
			height: 209px;
		}
		h2 {
			font-size: 25px;
		}
		ul {
			&.menu-tabs {
				height: 150px;
				li {
					height: 150px;
					&.one {
						background: url(../images/responsive/icon-becas-int2_1.png) no-repeat center #ecf6f7 !important;
						&.on {
							background: url(../images/responsive/icon-becas-int2.png) no-repeat center #004475 !important;
						}
					}
					&.two {
						background: url(../images/responsive/icon-credits.png) no-repeat center #ecf6f7 !important;
						&.on {
							background: url(../images/responsive/icon-credits2.png) no-repeat center #004475 !important;
						}
					}
					img {
						&.iconMobile {
							display: block;
							position: absolute;
							top: 10%;
							left: 20%;
						}
					}
					ul.tab {
						display: none;
					}
				}
			}
		}
	}
	.section-scholarships {
		h2 {
			font-size: 1.5em;
			padding: .5em 0;
		}
		p {
			font-size: .95em;
			padding: 1em 2em;
		}
		section.scholarships-the-program {
			.container {
				text-align: center;
				.box-title {
					width: 40%;
					font-size: 1em;
				}
				ul {
					li {
						//width: 100% !important;
						width: 33%;
						text-align: right;
						padding: 0 !important;
						img {
							//display: initial !important;
							width: 100%;
						}
					}
				}
			}
		}
		section.scholarships-as-elaborated {
			//display: none;
			overflow: hidden;
			.container {
				text-align: center;
				.boxes {
					display: none;
				}
				ul {
					&.displayTab {
						//display: block;
						text-align: left;
						padding: 1em 2.5em;
						li {
							border-top: 1px solid #dddcdb;
							a {
								background: url(../images/responsive/icon-more.png) no-repeat 290px 10px;
								display: block;
								padding: .7em 0;
								color: $orange;
								text-decoration: none;
								font-size: 1.2em;
								&.active {
									background: url(../images/responsive/icon-hide.png) no-repeat 290px 10px;
								}
							}
							div {
								display: none;
								padding: 1em 0;
								ul {
									li {
										border: none;
										background: url(../images/bullet.png) no-repeat 0px 7px;
										padding-left: 1em;
										line-height: 150%;
									}
								}
								&.show {
									display: block;
								}
							}
						}
					}
				}
			}
		}
		section.scholarships-results {
			overflow: hidden;
			.container {
				text-align: center;
				height: auto;
				.sub-container {
					height: 550px;
					&.forDesktop {
						//display: none;
						span {
							img {
								width: 100%;
							}
							&.one {
								top: 150px;
								left: 0;
								width: 50%;
							}
							&.two {
								top: 150px;
								right: 0;
								width: 50%;
							}
							&.three {
								right: 0;
								left: 0;
								top: 0;
								margin: 0 auto;
								width: 210px;
								img {
									width: auto;
								}
							}
							&.four {
								right: 0;
								left: 0;
								bottom: 0;
								margin: 0 auto;
								width: 105px;
								img {
									width: auto;
								}
							}
						}
					}
				}
			}
		}
		section.scholarships-fotos {
			//display: none;
			.container {
				.fotos {
					display: none;
				}
				.fotos-for-mobile {
					display: block;
					.carousel {
						div {
							height: 240px;
							text-align: center;
							span {
								display: block;
								padding: 1em 0;
							}
						}
					}
					.pager{
						bottom: -10px;
						text-align: center;
						position: relative;
						z-index: 10;
						a{
							//background: url(../images/bg-carousel.png) no-repeat 0 0;
							background: #d8d6d5;
							border-radius: 50%;
							color: #d8d6d5;
							display: inline-block;
							height: 16px;
							margin: 0 3px;
							width: 16px;
							&.selected{
								//background-position: 0 -16px;
								background: #f2b140;
								color: #f2b140;
							}
							span{
								display: none;
							}
						}
					}
				}
			}
		}
	}
	//CREDITOS
	.section-credits {
		h2 {
			font-size: 1.5em !important;
			padding: .5em 0 !important;
			text-align: center;
		}
		p {
			font-size: .95em;
			padding: 1em 2em;
			text-align: center;
		}
		ul {
			//padding: 0 3em !important;
			line-height: 200% !important;
		}
		section.scholarships-the-program {
			overflow: hidden;
			.container {
				.box-title {
					width: 50%;
					box-sizing: border-box;
					margin: 30px auto;
					font-size: .85em;
				}
				ul {
					li {
						padding: 0;
					}
				}
			}
		}
		.section-universities {
			.container {
				.left, .right {
					//display: none;
				}
				.forMobile {
					display: none;
				}
			}
		}
		.section-seleccion {
			.container {
				ul {
					li {
						background: url(../images/bullet.png) no-repeat 0 10px;
						font-size: .85em;
					}
				}
			}
		}
		.section-finance {
			display: block;
			.container {
				ul {
					@include clearfix;
					li {
						display: block !important;
						background: url(../images/bullet.png) no-repeat 0 10px !important;
						float: left;
						width: 33%;
						box-sizing: border-box;
						font-size: .9em;
						padding: .4em 0 .4em 1.2em !important;
						line-height: 150%;
					}
				}
			}
			&.hide {
				display: none;
			}
		}
		section.condicionesForMobile {
			display: none;
		}
		.section-finance-table, .home-tax-works {
			display: none;
		}
		section.scholarships-results {
			overflow: hidden;
			.container {
				height: auto;
				.sub-container {
					display: none;
				}
				.forMobile {
					display: block;
					ul {
						padding: 0 !important;
						li {
							padding: 20px 0;
							text-align: center;
							img {
								width: 50%;
								display: initial !important;
							}
						}
					}
				}
			}
		}
		section.scholarships-gallery {
			.container {
				.left, .right {
					display: none;
				}
				.carousel.mobile {
					display: block;
					.left, .right {
						display: block;
					}
				}
			}
		}
		section.scholarships-fotos {
			display: none;
		}
		.section-credito-estudios {
			display: none;
		}
	}
	/*======================================== 
	REPORTES 
	========================================*/
	section.scholarships-credits-header {
		.banner.reporting {
			background: url(../images/responsive/bg_reporting-mobile.jpg) no-repeat center top;
			height: 209px;
		}
	}
	.section-scholarships {
		&.obras {
			.scholarships-the-program {
				.container {
					.bquote {
						width: 75%;
						box-sizing: border-box;
						font-size: .95em;
					}
				}
			}
			.scholarships-as-elaborated.reportes {
				.container {
					display: block;
					@include clearfix;
					.left, .right {
						width: 100%;
						padding: 0;
						float: left;
						display: initial;
					}
					.left {
						span {
							width: 50%;
							float: left;
							padding: 0;
							border: none;
							&.border {
								float: none;
								margin: 1em auto;
							}
							&:last-child {
								img {
									width: 70%;
								}
							}
						}
					}
					.right {
						text-align: left;
					}
				}
			}
			.scholarships-gallery.files,
			.scholarships-gallery.principios {
				height: 300px;
				.container {
					.left, .right {
						width: 100%;
						margin: 0;
					}
					.left {
						text-align: center;
						font-size: .9em;
					}
					.right {
						span {
							&.player {
								display: block;
								padding: 0;
								width: 80%;
								height: 260px;
								margin: 0 auto;
								a {
									display: block;
									width: 100%;
									height: 171px;
									img {
										width: 100%;
									}
								}
							}
						}
					}
					.pager {
						width: 71%;
						a {
							margin: 0 5px 0 0;
						}
					}
				}
			}
			.scholarships-gallery.principios {
				.container {
					.pager {
						width: 15%;
					}
				}
			}
			.section-finance-table-reportes {
				.container {
					div {
						box-sizing: border-box;
						padding: 1em .5em;
						table {
							line-height: 120%;
							tr {
								td {
									padding: 1em .5em;
									width: initial;
									height: initial;
									font-size: .8em;
									&.bullet {
										background: none;
									}
									&:nth-child(1) {
										width: 25%;
									}
									&:nth-child(2) {
										width: 25%;
									}
									&:nth-child(3) {
										width: 50%;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	/*======================================== 
	OBRAS POR IMPUESTOS
	========================================*/
	section.scholarships-credits-header {
		.banner.medio_ambiente.obras {
			background: url(../images/responsive/bg_medio_ambiente.jpg) no-repeat center top;
			height: 209px;
		}
	}
	.section-scholarships.obras {
		.scholarships-as-elaborated.obras {
			display: none;
		}
		section.etapas-mobile {
			display: block !important;
			padding: 1.5em 0 0;
			background: url(../images/pattern.png);
			h2 {
				text-align: center;
				padding: 1.5em 0 0;
			}
			ul {
				&.etapasForMobile {
					display: block;
					text-align: left;
					//padding: 1em 2.5em;
					//padding: 0 !important;
					> li {
						padding: 2em 0;
						&:last-child {
							padding-bottom: 0;
						}
					}
					li {
						text-align: center;
						span {
							display: block;
						}
						a {
							background: url(../images/responsive/icon-in.png) no-repeat 210px 19px;
							display: block;
							padding: 1em 5em;
							color: $orange;
							text-decoration: none;
							font-size: 1.2em;
							font-family: $thin;
							font-style: italic;
							text-align: left;
							&.active {
								background: url(../images/responsive/icon-out.png) no-repeat 210px 19px;
							}
						}
						div {
							display: none;
							background: url(../images/icon-show.png) no-repeat top center $blanco;
							padding: 2em 0;
							ul {
								box-sizing: border-box;
								padding: 0 5em;
								li {
									border: none;
									background: url(../images/bullet.png) no-repeat 0px 7px;
									padding-left: 1em;
									line-height: 150%;
									text-align: left;
								}
							}
							p {
								padding: 1em 45px;
							}
							&.show {
								display: block;
							}
						}
					}
				}
			}
		}
		.scholarships-results.obras {
			.banner {
				background: url(../images/responsive/bg-resultados.jpg) no-repeat center !important;
				height: 267px !important;
				.container {
					display: none;
				}
			}
			.container {
				text-align: left;
				width: 70%;
				ul.datos-2 {
					li {
						width: 100%;
						border: none;
						span {
							height: initial;
							img {
								width: 70%;
								margin: 0 auto;
							}
							&.orange {
								color: #ff6600;
							}
						}
					}
				}
				.waypoint-4-3 {
					height: initial;
					.one, .two {
						position: initial;
						display: block;
						width: 100%;
						padding: 1em 0;
						img {
							width: 100%;
							height: auto;
						}
					}
					.one {

					}
				}
			}
		}
		.scholarships-gallery {
			.container {
				.pager {
					width: 13%;
				}
			}
		}
		.scholarships-fotos {
			display: none;
		}
	}
	/*======================================== 
	EDU FINANCIERA
	========================================*/
	section {
		&.scholarships-credits-header.edu-financiera {
			.banner {
				background: url(../images/responsive/bg_edu_financiera.jpg) no-repeat center;
				background-size: cover;
			}
			ul {
				&.menu-tabs {
					height: 188px;
					li {
						span {
							display: none;
						}
						height: 188px;
						&.one {
							background: url(../images/responsive/icon-edu-aula.png) no-repeat center #ecf6f7 !important;
							&.on {
								background: url(../images/responsive/icon-edu-aula_h.png) no-repeat center #004475 !important;
							}
						}
						&.two {
							background: url(../images/responsive/icon-edu-univ.png) no-repeat center #ecf6f7 !important;
							&.on {
								background: url(../images/responsive/icon-edu-univ_h.png) no-repeat center #004475 !important;
							}
						}
						&.three {
							background: url(../images/pattern.png) ,url(../images/responsive/icon-edu-agentes.png) no-repeat center #ecf6f7 !important;
							&.on {
								background: url(../images/responsive/icon-edu-agentes_h.png) no-repeat center #004475 !important;
							}
						}
					}
				}
			}
		}
	}
	.section-scholarships.sec-financiera {
		.scholarships-as-elaborated.obras {
			.container {
				ul.etapas {
					> li {
						width: 100%;
						padding: 0;
						border: none;
						min-height: initial !important;
						padding: 2em 0;
						span {
							padding: 1em 0;
							&.tiempo {
    							box-sizing: border-box;
    							padding: 0 4em;
							}
							&.border {
								margin: 10px auto;
								padding: 0;
							}
						}
						&.numb1 {
							img {
								content: url(../images/responsive/edu-etapa-1.png);
							}
						}
						&.numb2 {
							img {
								content: url(../images/responsive/edu-etapa-2.png);
							}
						}
						&.numb3 {
							img {
								content: url(../images/responsive/edu-etapa-3.png);
							}
						}
					}
					li {
						ul.ul_text {
							padding: 0 4em;
							li {
								text-align: left;
							}
						}
					}
				}
			}	
		}
		.scholarships-results {
			.franja {
				background: url(../images/responsive/bg-edu-resultados.jpg) no-repeat center;
				background-size: cover;
				box-shadow: none;
				img, .container {
					display: none;
				}
			}
		}
		.scholarships-fotos {
			display: none;
		}
	}
	.section-credits.sec-financiera.section-univ {
		.scholarships-as-elaborated {
			.container {
				h5 {
					font-size: 1.2em;
				}
				ul {
					padding: 0 !important;
					li {
						float: left;
						width: 50%;
						border: none;
						box-sizing: border-box;
						padding: .5em;
						img {
							width: 100%;
						}
						&:nth-child(odd) {
							img {
								border-right: 1px solid #d0d0d0;
							}
						}
					}
				}
			}
		}
		.scholarships-results {
			.franja {
				background: url(../images/responsive/bg-edu-resultados-2.jpg) no-repeat center;
				background-size: cover;
				box-shadow: none;
				img, .container {
					display: none;
				}
			}
		}
	}
	.section-credits.sec-financiera.agentes {
		.scholarships-as-elaborated.obras {
			.container {
				ul.etapas {
					text-align: center;
					> li {
						width: 100%;
						padding: 0;
						border: none;
						min-height: initial !important;
						padding: 2em 0;
						span {
							padding: 1em 0;
							&.tiempo {
    							box-sizing: border-box;
    							padding: 0 4em;
							}
							&.border {
								margin: 10px auto;
								padding: 0;
							}
						}
						&.numb1 {
							img {
								content: url(../images/responsive/edu-etapa-1.png);
							}
						}
						&.numb2 {
							img {
								content: url(../images/responsive/edu-etapa-2.png);
							}
						}
						&.numb3 {
							img {
								content: url(../images/responsive/edu-etapa-3.png);
							}
						}
					}
					li {
						ul.ul_text {
							padding: 0 4em;
							li {
								text-align: left;
							}
						}
					}
				}
			}
		}
	}
	
	




	//GLOBAL
	section.scholarships-gallery {
		//display: none;
		.container {
			h2 {
				text-align: center;
			}
			.video {
				.left {
					width: 100%;
					margin: 30px 0;
					padding: 0 3em;
					box-sizing: border-box;
					h3 {
						padding: 0;
					}
				}
				.right {
					float: left;
					width: 100%;
					background: none;
					border: none;
					.player {
						background: $blanco;
						display: block;
						border: 1px solid #eaeaea;
						width: 82%;
						//height: 165px;
						height: 370px;
						box-sizing: border-box;
						padding: 5px;
						margin: 0 auto;
						iframe {
							width: 100%;
							//height: auto;
							height: 360px;
						}
					}
					.shadow {
						display: none;
					}
				}
			}
		}
		.pager {
			position: initial !important;
			border: none !important;
			width: 14%;
			margin: 0 auto;
			@include clearfix;
		}
	}


}

@media screen and ($width-name : $iPhone6) {

	.section-scholarships  {
		.scholarships-the-program {
			.container {
				ul.objectives {
					li {
						width: 100%;
					}
				}
			}
		}
	}

	.section-scholarships {
		section.scholarships-results {
			overflow: hidden;
			.container {
				text-align: center;
				height: auto;
				.sub-container {
					&.forDesktop {
						display: none;
					}
				}
				.forMobile {
					display: block;
					ul {
						text-align: right;
						li {
							display: inline-block;
							padding: 2em 0;
							img {
								display: block;
							}
						}
					}
				}
			}
		}
	// 	section.scholarships-fotos {
	// 		//display: none;
	// 		.container {
	// 			.fotos {
	// 				display: none;
	// 			}
	// 			.fotos-for-mobile {
	// 				display: block;
	// 				.carousel {
	// 					div {
	// 						height: 240px;
	// 						text-align: center;
	// 						span {
	// 							display: block;
	// 							padding: 1em 0;
	// 						}
	// 					}
	// 				}
	// 				.pager{
	// 					bottom: -10px;
	// 					text-align: center;
	// 					position: relative;
	// 					z-index: 10;
	// 					a{
	// 						//background: url(../images/bg-carousel.png) no-repeat 0 0;
	// 						background: #d8d6d5;
	// 						border-radius: 50%;
	// 						color: #d8d6d5;
	// 						display: inline-block;
	// 						height: 16px;
	// 						margin: 0 3px;
	// 						width: 16px;
	// 						&.selected{
	// 							//background-position: 0 -16px;
	// 							background: #f2b140;
	// 							color: #f2b140;
	// 						}
	// 						span{
	// 							display: none;
	// 						}
	// 					}
	// 				}
	// 			}
	// 		}
	// 	}
	}
	//END BECAS

	//CREDITOS
	.section-credits {
		h2 {
			font-size: 1.5em !important;
			padding: .5em 0 !important;
			text-align: center;
		}
		p {
			font-size: .95em;
			padding: 1em 2em;
			text-align: center;
		}
		ul {
			padding: 0 3em !important;
			line-height: 200% !important;
		}
		section.scholarships-the-program {
			overflow: hidden;
			.container {
				.box-title {
					width: 90%;
					box-sizing: border-box;
					margin: 10px auto;
					font-size: .85em;
				}
				ul {
					text-align: center;
					li {
						width: 85%;
						padding: .4em 0;
						display: inline-block;
						float: initial;
						span {
							float: left;
							&:first-child {
								width: 10%;
							}
							&:last-child {
								border-right: none;
								padding: .5em 1em;
								box-sizing: border-box;
								width: 90%;
								text-align: left;
							}
						}
					}
				}
			}
		}
		.section-universities {
			.container {
				.left, .right {
					display: none;
				}
				.forMobile {
					display: block;
					h3 {
						font-family: 'flexoBold';
					}
					ul {
						padding: 1em !important;
						li {
							//list-style-type: inherit;
							background: url(../images/bullet.png) no-repeat 0 10px;
							padding-left: 20px;
						}
					}
					// a {
					// 	color: #f2b140;
					// }
				}
			}
		}
		.section-seleccion {
			.container {
				ul {
					li {
						background: url(../images/bullet.png) no-repeat 0 10px;
						font-size: .85em;
					}
				}
			}
		}
		.section-finance {
			.container {
				ul {
					@include clearfix;
					li {
						display: block !important;
						background: url(../images/bullet.png) no-repeat 0 10px !important;
						float: left;
						width: 50%;
						box-sizing: border-box;
						font-size: .9em;
						padding: .4em 0 .4em 1.2em !important;
						line-height: 150%;
					}
				}
			}
			&.hide {
				display: none;
			}
		}
		section.condicionesForMobile {
			display: block;
			padding: 1.5em 0;
			ul {
				&.displayTab {
					display: block;
					text-align: left;
					//padding: 1em 2.5em;
					padding: 0 !important;
					li {
						//border-top: 1px solid #dddcdb;
						&:first-child {
							a {
								color: $orange;
								font-size: .85em;
							}
						}
						a {
							background: url(../images/responsive/icon-more.png) no-repeat 305px 12px;
							display: block;
							padding: .4em 45px;
							color: $blue;
							text-decoration: none;
							font-size: 1.2em;
							font-family: $thin;
							&.active {
								background: url(../images/responsive/icon-hide.png) no-repeat 305px 10px;
							}
							span {
								display: block;
								background: #eaeaea;
								height: 1px;
								margin-top: 8px;
							}
						}
						div {
							display: none;
							padding: 1em 0;
							&.data-item-1 {
								background: url(../images/bg_financiamiento.jpg) no-repeat center;
								background-size: cover;
							}
							&.data-item-2 {
								background: url(../images/bg-home-tax-works.jpg);
							}
							table {
								background: #fff;
								line-height: 150%;
								width: 80%;
								margin: 0 auto;
								tr {
									&.bg {
										background: #ebf3f8;
									}
									th {
										text-align: center;
										font-size: 1.2em;
										color: #e14f00;
										padding: 10px 20px;
										border-bottom: 1px solid #EAEAEA;
									}
									td {
										width: 50%;
										padding: 5px 20px;
										font-size: .85em;
										&:first-child {
											background: url(../images/bullet.png) no-repeat 15px 11px;
											padding-left: 35px;
											border-right: 1px solid #EAEAEA;
										}
										&:last-child {
											padding-left: 30px;
										}
									}
								}
							}
							ul {
								li {
									border: none;
									background: url(../images/bullet.png) no-repeat 0px 7px;
									padding-left: 1em;
									line-height: 150%;
								}
							}
							p {
								padding: 1em 45px;
							}
							&.show {
								display: block;
							}
						}
					}
				}
			}
		}
		.section-finance-table, .home-tax-works {
			display: none;
		}
		section.scholarships-results {
			overflow: hidden;
			.container {
				height: auto;
				.sub-container {
					display: none;
				}
				.forMobile {
					display: block;
					ul {
						padding: 0 !important;
						li {
							padding: 20px 0;
							img {
								width: 100%;
							}
						}
					}
				}
			}
		}
		section.scholarships-gallery {
			.container {
				.left, .right {
					display: none;
				}
				.carousel.mobile {
					display: block;
					.left, .right {
						display: block;
					}
				}
			}
		}
		section.scholarships-fotos {
			display: none;
		}
		.section-credito-estudios {
			display: none;
		}
	}

	//GLOBAL
	section.scholarships-gallery {
		//display: none;
		.container {
			.video {
				.right {
					.player {
						height: 165px;
						iframe {
							width: 100%;
							//height: auto;
							height: 155px;
						}
					}
				}
			}
		}
		.pager {
			position: initial !important;
			border: none !important;
			width: 29%;
			margin: 0 auto;
			@include clearfix;
		}
	}



	// ============================= FOOTER ===========================//
	footer {
		.container {
			.menu {
				width: 50%;
				@include ulcero;
				ul {
					-webkit-flex-direction: column;
					flex-direction: column;

					padding: 2em 0 0 1em;
					li {
						padding-left: 0 !important;
						font-size: .8em !important;
						&:before {
							content: '- ';
							color: $blanco;
						}
						&:last-child {
							border-right: solid 1px #3370a1 !important;
						}
						a {
							&.reporting, &.Ltiempo {
								color: #7dd0ff;
							}
						}
					}
				}
			}
			ul.social {
				width: 50% !important;
				padding-top: 40px;
				li {
					padding-left: 1em;
					text-align: center;
					&.text {
						width: 90%;
						font-size: .8em;
						opacity: .6;
					}
					&:nth-child(2n){
						padding-left: 3.5em;
					}
					&:nth-child(3n){
						padding-left: 0;
					}
				}
			}
		}
	}
}

@media screen and ($width-name : $iPhone5) {
	//HOME
	section.home-banner.first-banner {
		.caroufredsel_wrapper {
			.carousel {
				.item {
					&.item-5 {
						background: url(../images/responsive/img-banner5_2.jpg) no-repeat center center;
					}
				}
			}
		}
	}


	//BECAS
	.section-scholarships {
		section.scholarships-the-program {
			.container {
				ul {
					li {
						img {
							width: 100%;
						}
					}
				}
			}
		}
		section.scholarships-gallery {
			.container {
				.pager {
					width: 33%;
				}
			}
		}
	}


	//CREDITOS
	.section-credits {
		section.condicionesForMobile {
			ul.displayTab {
				li {
					a {
						background: url(../images/responsive/icon-more.png) no-repeat 250px 12px;
						&.active {
							background: url(../images/responsive/icon-hide.png) no-repeat 250px 10px;
						}
					}
				}
			}
		}
	}
}





















