@font-face {
  font-family: 'flexoRegular';
  src: url("flexo/durotype_-_flexo-regular-webfont.eot");
  src: url("flexo/durotype_-_flexo-regular-webfont.eot?#iefix") format('embedded-opentype'), url("flexo/durotype_-_flexo-regular-webfont.woff") format('woff'), url("flexo/durotype_-_flexo-regular-webfont.ttf") format('truetype'), url("flexo/durotype_-_flexo-regular-webfont.svg#flexoRegular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'flexoBold';
  src: url("flexo/durotype_-_flexo-bold-webfont.eot");
  src: url("flexo/durotype_-_flexo-bold-webfont.eot?#iefix") format('embedded-opentype'), url("flexo/durotype_-_flexo-bold-webfont.woff") format('woff'), url("flexo/durotype_-_flexo-bold-webfont.ttf") format('truetype'), url("flexo/durotype_-_flexo-bold-webfont.svg#flexoRegular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'flexoBoldit';
  src: url("flexo/durotype_-_flexo-demi-webfont.eot");
  src: url("flexo/durotype_-_flexo-boldit-webfont.eot?#iefix") format('embedded-opentype'), url("flexo/durotype_-_flexo-boldit-webfont.woff") format('woff'), url("flexo/durotype_-_flexo-boldit-webfont.ttf") format('truetype'), url("flexo/durotype_-_flexo-boldit-webfont.svg#flexoRegular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'flexoDemi';
  src: url("flexo/durotype_-_flexo-demi-webfont.eot");
  src: url("flexo/durotype_-_flexo-demi-webfont.eot?#iefix") format('embedded-opentype'), url("flexo/durotype_-_flexo-demi-webfont.woff") format('woff'), url("flexo/durotype_-_flexo-demi-webfont.ttf") format('truetype'), url("flexo/durotype_-_flexo-demi-webfont.svg#flexoRegular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'flexoRegularit';
  src: url("flexo/durotype_-_flexo-it-webfont.eot");
  src: url("flexo/durotype_-_flexo-it-webfont.eot?#iefix") format('embedded-opentype'), url("flexo/durotype_-_flexo-it-webfont.woff") format('woff'), url("flexo/durotype_-_flexo-it-webfont.ttf") format('truetype'), url("flexo/durotype_-_flexo-it-webfont.svg#flexoRegular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'flexoHeavyit';
  src: url("flexo/durotype_-_flexo-heavyit-webfont.eot");
  src: url("flexo/durotype_-_flexo-heavyit-webfont.eot?#iefix") format('embedded-opentype'), url("flexo/durotype_-_flexo-heavyit-webfont.woff") format('woff'), url("flexo/durotype_-_flexo-heavyit-webfont.ttf") format('truetype'), url("flexo/durotype_-_flexo-heavyit-webfont.svg#flexoHeavyit") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'flexoLight';
  src: url("flexo/durotype_-_flexo-light-webfont.eot");
  src: url("flexo/durotype_-_flexo-light-webfont.eot?#iefix") format('embedded-opentype'), url("flexo/durotype_-_flexo-light-webfont.woff") format('woff'), url("flexo/durotype_-_flexo-light-webfont.ttf") format('truetype'), url("flexo/durotype_-_flexo-light-webfont.svg#flexoLight") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'flexoLightIt';
  src: url("flexo/durotype_-_flexo-lightit-webfont.eot");
  src: url("flexo/durotype_-_flexo-lightit-webfont.eot?#iefix") format('embedded-opentype'), url("flexo/durotype_-_flexo-lightit-webfont.woff") format('woff'), url("flexo/durotype_-_flexo-lightit-webfont.ttf") format('truetype'), url("flexo/durotype_-_flexo-lightit-webfont.svg#flexoLight") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'flexoMediumIt';
  src: url("flexo/durotype_-_flexo-mediumit-webfont.eot");
  src: url("flexo/durotype_-_flexo-mediumit-webfont.eot?#iefix") format('embedded-opentype'), url("flexo/durotype_-_flexo-mediumit-webfont.woff") format('woff'), url("flexo/durotype_-_flexo-mediumit-webfont.ttf") format('truetype'), url("flexo/durotype_-_flexo-mediumit-webfont.svg#flexoLight") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'flexoThin';
  src: url("flexo/durotype_-_flexo-thin-webfont.eot");
  src: url("flexo/durotype_-_flexo-thin-webfont.eot?#iefix") format('embedded-opentype'), url("flexo/durotype_-_flexo-thin-webfont.woff") format('woff'), url("flexo/durotype_-_flexo-thin-webfont.ttf") format('truetype'), url("flexo/durotype_-_flexo-thin-webfont.svg#flexoLight") format('svg');
  font-weight: normal;
  font-style: normal;
}