/**
* @description: Standard Layout
* @author: Oscar Cosme
* @date: 16/06/16
* @version: 1.0
*/

@import "fontface.less";

body {
	font-family: 'flexoRegular';
}
table.datos {
	width: 640px;
	text-align: center;
	margin: 0 auto;
	tr {
		td {
			vertical-align: middle;
			font-size: .9em;
			padding: 23px 0;
			span.title {
				font-family: 'flexoLight';
				text-align: center;
				color: #e14f00;
				font-size: 25px;
				padding-left: 30px;
			}
			&.box {
				border-top: 1px solid #d6d6d6;
				.four {
					color: #e14f00;
				}
				.var {
					background: #d5e6f0;
					padding: 10px;
					border: 1px solid #b7c8d2;
					width: 50%;
					margin: 0 0 0 40%;
				}
			}
			&:first-child {
				text-align: left !important;
				width: 422px;
			}
			&:last-child {
				text-align: right;
				width: 218px;
				.strong {
					display: initial;
				}
			}
			span {
				display: block;
				&.strong {
					padding: 0;
				}
				&.sub {
					padding-top: .5em;
					color: #868686;
					font-size: .9em;
				}
			}
			input {
				padding: 10px;
				background: #d5e6f0;
				border: 1px solid #b7c8d2;
				border-radius: 2px;
				font-size: 15px;
				width: 130px;
			}
		}
	}
}