/**
* @description: Standard Layout
* @author: Oscar Cosme
* @date: 22/09/15
* @version: 1.0
*/


@import "reset.less";
@import "fontface.less";
@import "template.less";

/* STANDAR */
@blue: #004475;
@yellow: #f2b140;
p {
	line-height: 150%;
}
span.strong {
	font-family: 'flexoBold';
	display: block;
	padding: 1em 0;
	display: initial;
	color: #4c4c4c;
}
.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/* HOME */
section.home-banner {
	overflow: initial;
}
.first-banner {
	margin-top: 107px;
}
.slider-two {
	height: 595px;
}
.home-banner, .slider-two{
	//display: block;
	// height: 554px;
	//min-width: 980px;
	//margin-top: 107px;
	
	width: 100%;
	position: relative;
	.carousel{
		// height: 554px;
		//min-width: 980px;
		overflow: hidden;
		width: 100% !important;
		.item{
			height: 595px;
			//min-width: 980px;
			width: 100%;
			a {
				display: block;
				width: 100%;
				height: 554px;
			}
			&.item-1{
				background: url(../images/img-banner1.png) no-repeat center center;
				background-size: cover;
			}
			&.item-2{
				background: url(../images/img-banner2.png) no-repeat center center;
				background-size: cover;
			}
			&.item-3{
				background: url(../images/img-banner3.png) no-repeat center center;
				background-size: cover;
			}
			&.item-4{
				background: url(../images/img-banner4.png) no-repeat center center;
				background-size: cover;
			}
			&.item-5{
				background: url(../images/img-banner5.jpg) no-repeat center center;
				background-size: cover;
			}
		}
	}
	span.dentado {
		position: absolute;
		bottom: 0;
		background: url(../images/dentado.png) repeat-x;
		display: block;
		width: 100%;
		height: 5px;
		z-index: 9;
	}
	.pager{
		bottom: 70px;
		text-align: center;
		position: relative;
		z-index: 10;
		a{
			background: url(../images/bg-carousel.png) no-repeat 0 0;
			display: inline-block;
			height: 16px;
			margin: 0 3px;
			width: 16px;
			&.selected{
				background-position: 0 -16px;
			}
			span{
				display: none;
			}
		}
	}
	.arrow{
		background: url(../images/bg-arrow-scroll.png) no-repeat 0 0;
		bottom: 53px;
		margin: 0 auto;
		height: 61px;
		position: relative;
		width: 61px;
		z-index: 10;
	}
	&.banner-2{
		//background: url(../images/img-banner-second.jpg) no-repeat center center;
		background: url(../images/bg_edu_financiera.png) no-repeat center center;
		background-size: cover;
		display: block;
		//height: 600px;
		// height: 595px;
		position: relative;
		overflow: hidden;
		h1 {
			font-size: 3em;
			//padding: 0 0 .5em 0;
			// padding-bottom: 1em;
			padding-bottom: 0.7em;
			color: #51d8e4;
			font-style: italic;
			font-family: 'flexoLight';
		}
		p {
			font-family: 'flexoLight';
			font-size: .95em;
			text-align: left;
			color: #fff;
		}
		.bg_02, .bg_03, .bg_04, .bg_05, .bg_06 {
			position: relative;
			.text,
			.image {
				float: left;
				height: 595px;
			}
			.text {
				width: 55%;
				position: relative;
				.center {
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					margin: auto;
					width: 75%;
					height: 50%;
					a.btn-more {
						background: url(../images/btn-more.png) no-repeat;
						display: block;
						width: 102px;
						height: 31px;
						margin: 2em 0;
					}
				}
			}
			.image {
				width: 45%;
				img {
					width: 100%;
					height: 100%;
				}
			}
			.container {
				position: relative;
				.clearfix();
				a {
					background: url(../images/btn-more.png) no-repeat;
					display: block;
					width: 102px;
					height: 31px;
					position: absolute;
					left: 0;
					bottom: -70px;
				}
			}
		}
		.bg_02 {
			background: url(../images/bg_edu_financiera2.png) no-repeat bottom center;
			.container {
				.box-text {
					color: #fff;
					width: 30%;
					float: right;
					margin-top: 9em;
					padding-right: 4em;
					h1 {
						color: #fff;
						font-style: normal;
						font-family: 'flexoRegular';
					}
				}
				a.btn-more {
					right: 200px;
					left: initial;
				}
			}
		}
		.bg_03 {
			background: url(../images/bg_copos.png) repeat-x center right #004475;
			img.thumb {
				position: absolute;
				top:0;
				right: 0;
			}
			.container {
				.box-text {
					color: #fff;
					width: 49%;
					float: left;
					margin-top: 9em;
					padding-right: 4em;
				}
				.two {
					position: relative;
					span.down {
						background: none;
						display: block;
						position: absolute;
						left: 50px;
						bottom: -100px;
						width: auto;
						height: auto;
						img {
							width: auto;
							position: initial;
						}
					}
				}
			}
		}
		.bg_04 {
			background: url(../images/bg_copos.png) no-repeat center left #004475;
			.container {
				.box-text {
					color: #fff;
					width: 49%;
					float: right;
					margin-top: 9em;
					padding-right: 4em;
				}
				.three {
					position: relative;
					span.down {
						background: none;
						display: block;
						position: absolute;
						left: 50px;
						bottom: -100px;
						width: auto;
						height: auto;
						img {
							width: auto;
							position: initial;
						}
					}
				}
			}
		}
		.bg_05, .bg_06 {
			background: url(../images/bg_copos.png) no-repeat center right #004475;
			// height: 595px;
			img.thumb {
				position: absolute;
				top: 0;
				right: 0;
			}
			.container {
				.box-text {
					width: 49%;
					float: left;
					margin-top: 9em;
					padding-right: 4em;
				}
				.four {
					position: relative;
					span.down {
						background: none;
						display: block;
						position: absolute;
						left: 50px;
						bottom: -100px;
						width: auto;
						height: auto;
						img {
							width: auto;
							position: initial;
						}
					}
				}
			}
			/*
			span.copos {
				background: url(../images/bg_copos.png) repeat-x top center;
				position: absolute;
				left: 0;
				top:0;
				display: block;
				width: 100%;
				height: 100%;
			}*/
		}
		span {
			display: block;
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 5px;
			background: url(../images/dentado.png) repeat-x;
			z-index: 1005;
		}
	}
}
section.mobile-eduFinanciera {
	display: none;
}
.home-scholarships-credits{
	height: 240px;
	overflow: hidden;
	//position: absolute;
	h2{
		color: #e14f00;
		font-size: 40px;
		font-family: "flexoDemi";
		margin: 65px auto 0;
		text-align: center;
		width: 350px;
	}
	p{
		color: #004475;
		font-size: 18px;
		font-family: "flexoLight";
		line-height: 23px;
		margin: 35px auto 0;
		text-align: center;
		width: 650px;
	}
}
.home-scholarships-credits-info{
	height: 444px;
	overflow: hidden;
	.bgs{
		height: 444px;
		font-size: 0;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		.bgs-pos{
			display: inline-block;
			height: 444px;
			position: relative;
			vertical-align: top;
			width: 50%;
			&.left{
				background: url(../images/bg-home-left.png) no-repeat top right;
				background-size: cover;
			}
			&.right{
				background: url(../images/bg-home-right.png) no-repeat top left;
				background-size: cover;
			}
			img.respo {
				display: none;
			}
		}
			
		.content-bg{
			height: 444px;
			position: absolute;
			top: 0;
			width: 490px;
			&.left{
				right: 0;
			}
			&.right{
				left: 0;
			}
			.title{
				left: 47px;
				position: absolute;
				top: 50px;
			}
			p{
				color: #4c4c4c;
				font-size: 15px;
				left: 47px;
				line-height: 20px;
				position: absolute;
				top: 220px;
				width: 270px;
			}
			.more{
				background: url(../images/bg-home-btn-view-more.png) no-repeat 0 0;
				height: 31px;
				left: 47px;
				position: absolute;
				top: 360px;
				width: 102px;
			}
		}
	}
}

.home-tax-works{
	background: url(../images/bg-home-tax-works.jpg) repeat-y center top;
	background-size: contain;
	height: 700px;
	.container {
		.clearfix();
		span.title{
			display: block;
			padding: 1.5em 0;
			color: #e14f00;
			font-size: 40px;
			font-family: "flexoDemi";
			//left: 0;
			//position: absolute;
			text-align: center;
			//top: 82px;
			//width: 100%;
		}
		p.description{
			color: #004475;
			font-size: 18px;
			font-family: "flexoLight";
			line-height: 23px;
			margin: 0 auto 35px;
			text-align: center;
			width: 650px;
		}
		img{
			position: absolute;
			top: 180px;
			&.left{
				left: 47px;
			}
			&.right{
				left: 535px;
			}
		}
		div{
			color: #4c4c4c;
			font-size: 15px;
			line-height: 18px;
			//position: absolute;
			//top: 295px;
			//width: 180px;
			&.left, &.right {
				width: 50%;
				float: left;
				box-sizing: border-box;
				padding-right: 25%;
				//height: 500px;
				min-height: 380px;
				h2 {
					color: #004475;
					font-size: 2em;
					padding: 1em 0;
					font-family: 'flexoLight';
					text-align: inherit;
					line-height: 120%;
					min-height: 75px;
				}
			}
			&.left{
				//left: 47px;
				//padding-right: 25%;
				background: url(../images/bg_educacion.png) no-repeat 270px 70px;
			}
			&.right{
				//left: 535px;
				padding-left: 3em;
				background: url(../images/bg_educacion_2.png) no-repeat 270px 70px;
			}
		}
		.more{
			background: url(../images/bg-home-btn-view-more.png) no-repeat 0 0;
			height: 31px;
			left: 440px;
			position: absolute;
			top: 620px;
			width: 102px;
		}
	}
}


/* SCHOLARSHIPS CREDITS */
.scholarships-credits-header{
	margin-top: 107px;
	overflow: initial;
	.banner{
		background: url(../images/bg-scholarships-credits-banner.jpg) no-repeat center top;
		background-size: cover !important;
		display: block;
		height: 302px;
		width: 100%;
		position: relative;
		span {
			display: block;
			width: 100%;
			position: absolute;
			bottom: 0;
			background: url(../images/dentado.png) repeat-x;
			height: 5px;
		}
	}
	.medio_ambiente {
		background: url(../images/bg_medio_ambiente.jpg) no-repeat top center;
		background-size: cover;
	}
	h2{
		background: url(../images/bg-square.jpg);
		color: #e14f00;
		display: block;
		font-size: 40px;
		font-family: "flexoDemi";
		padding: 38px 0 32px;
		position: relative;
		text-align: center;
		width: 100%;
	}
	.menu-tabs{
		//font-size: 0;
		display: block;
		height: 207px;
		width: 100%;
		li{
			float: left;
			height: 207px;
			position: relative;
			width: 50%;
			-webkit-transition: all .3s;
			transition: all .3s;
			img.iconMobile {
				display: none;
			}
			ul.tab {
				width: 490px;
				height: 207px;
				position: absolute;
				li {
					color: #004475;
					font-size: 2em;
					font-family: 'flexoLightIt';
					width: initial;
					position: absolute;
					&:first-child {
						padding-top: 2.7em;
						right: 240px;
					}
					&:last-child {
						top: 33px;
						right: 50px;
						padding: 0;
					}
				}
				&.uno {
					right: 0;
				}
				&.dos {
					left: 0;
					li {
						padding-left: 50px;
						&:first-child {
							position: absolute;
							width: 100%;
							left: 0;
						}
						&:last-child {
							position: absolute;
							right: 0;
						}
					}
				}
			}
			&.one {
				background: url(../images/pattern.png);
				cursor: pointer;
				position: relative;
				span.arrow {
					display: block;
					position: absolute;
					bottom: -19px;
					width: 100%;
					text-align: center;
					z-index: 9;
					-webkit-transition: all ease .3s;
					transition: all ease .3s;
				}
			}
			&.two {
				background: #ecf6f7;
				cursor: pointer;
				span.arrow {
					display: none;
					position: absolute;
					bottom: -19px;
					width: 100%;
					text-align: center;
				}
			}
			&.three {
				background: #ecf6f7;
				cursor: pointer;
				span.arrow {
					display: none;
					position: absolute;
					bottom: -19px;
					width: 100%;
					text-align: center;
				}
			}
			a{
				display: inline;
				height: 207px;
				&.scholarships{
					background-position: 0 0;
					right: 0;
					&.on{
						background-position: 0 -207px;
					}
				}
				&.credits{
					background-position: -700px 0;
					left: 0;
					&.on{
						background-position: -700px -207px;
					}
				}
				img{
					left: 30px;
					position: absolute;
					top: 23px;
				}
			}
		}
		.on {
			background: url(../images/shadow-y.png) repeat-y right top #004475 !important;
			//background-image: none!important;
			ul.tab {
				li {
					color: #fff!important;
				}
			}
		}
	}
}
.edu-financiera {
	.banner {
		background: url(../images/bg-edu-financiera.jpg) no-repeat top center;
		background-size: cover;
	}
	h3 {
		text-align: center;
		font-size: 24px;
		padding: 1.5em 0;
		color: #4c4c4c;
		font-family: 'flexoLight';
		a {
			color: #fff;
			background: #e14f00;
			padding: .3em 1.5em;
			border-radius: 25px;
			text-decoration: none;
			transition: all ease .3s;
			&:hover {
				background: #e16826;
			}
		}
	}
	ul.menu-tabs {
		//display: flex;
		font-size: 2em;
		li {
			float: left;
			width: 32%;
			padding-right: 2%;
			color: #004475;
			.clearfix();
			&:last-child {
				padding-right: 0;
			}
			&.on {
				color: #fff;
				background: url(../images/shadow-y.png) repeat-y right top;
			}
			&.one {
				span:first-child {
					position: absolute;
					top: 50px;
					right: 150px;
					//width: 40%;
					max-width: 170px;
				}
				span:last-child {
					position: absolute;
					right: 30px;
					top: 45px;
				}
			}
			&.two {
				span {
					&:first-child {
						position: absolute;
						top: 50px;
						left: 70px;
						max-width: 170px;
					}
					&:last-child {
						position: absolute;
						right: 50px;
						top: 45px;
					}
				}
			}
			&.three {
				span {
					&:first-child {
						position: absolute;
						top: 50px;
						left: 30px;
						max-width: 170px;
						div {
							span.border {
								//top: 140px;
							}
						}
					}
					&:last-child {
						position: absolute;
						//left: 50%;
						left: 60%;
						top: 50px;
					}
				}
			}
			span:first-child {
				font-family: 'flexoLightIt';
				font-size: .85em;
				div {
					position: relative;
					span.border {
						position: absolute;
						top: 120px;
						left: 0;
						border: 1px solid #f2b140;
						width: 80px;
					}
				}
			}
		}
		.three {
			background: url(../images/pattern.png);
		}
	}
}
//======================================
.section-scholarships {
	display: none;
}
.section-scholarships.obras {
	display: block;
	overflow: hidden;
}
.section-credits, 
.section-scholarships {
	color: #4c4c4c;
	section {
		padding: 50px 0;
	}
	h2 {
		color: #004475;
		font-size: 2em;
		padding: 1em 0;
		font-family: 'flexoLight';
	}
	.scholarships-the-program{
		padding-bottom: 0;
		.container {
			.box-title {
				width: 25%;
				margin: 30px auto 0 auto;
				padding: 1em;
				color: #e14f00;
				font-size: 20px;
				text-align: center;
				font-family: 'flexoLight';
				border: 2px dashed #c3c3c3;
			}
			ul.objectives {
				/*display: -webkit-flex;
				display: flex;
				-webkit-justify-content: space-between;
				justify-content: space-between;*/
				padding: 30px 0 0 0;
				.clearfix();
				li {
					//display: inline-block;
					float: left;
					width: 32%;
					//min-width: 294px;
					padding-right: 2%;
					&:last-child {
						padding-right: 0;
					}
					img {
						display: block;
					}
				}
			}
		}
	}
	.medio_ambiente {
		.container {
			span {
				&.bquote {
					display: block;
					width: 45%;
					margin: 30px auto;
					padding: .7em;
					color: #e14f00;
					font-size: 25px;
					font-family: 'flexoLight';
					text-align: center;
					line-height: 120%;
					border: 2px dashed #c3c3c3;
				}
			}
			img {
				display: block;
				margin: 3em auto;
			}
			ul.ul_text {
				padding: 1em 0;
				line-height: 150%;
				li {
					background: url(../images/bullet.png) no-repeat 0px 7px;
					padding-left: 1em;
				}
			}
			p {
				padding: 1em 0;
			}
		}
	}
	.obras {
		.container {
			ul.etapas {
				padding: 30px 0;
				.clearfix();
				li {
					width: 20.8%;
					float: left;
					border-right: 1px solid #D4D4D4;
					padding: 0 2%;
					&.numb1, &.numb2, &.numb3, &.numb4 {
						min-height: 560px;
					}
					&:last-child {
						border: none;
					}
					h3, h4 {
						font-family: 'flexoBold';
					}
					h3 {
						min-height: 35px;
					}
					h4 {
						font-size: 0.9em;
					}
					span {
						display: block;
						padding: 0 0 20px 0;
						&.image {
							padding: 0;
						}
						&.tiempo {
							color: #e14f00;
							font-size: 25px;
							font-style: italic;
							width: 57%;
							line-height: 130%;
						}
						&.border {
							background: #f2b140;
							width: 25%;
							height: 3px;
							padding: 0;
							margin-bottom: 20px;
						}
					}
					ul.ul_text {
						//padding: 1em 0;
						line-height: 150%;
						li {
							background: url(../images/bullet.png) no-repeat 0px 7px;
							padding-left: 1em;
							width: 100%;
							border: none;
							line-height: 180%;
							min-height: auto !important;
						}
					}
				}
			}
		}
	}
	section.etapas-mobile {
		display: none;
	}
	.scholarships-as-elaborated {
		//background: #f3f1f0;
		background: url(../images/bg_pattern.png);
		.boxes {
			margin: 40px 0;
			.clearfix();
		}
		.box {
			line-height: 150%;
			width: 32%;
			float: left;
			h3 {
				color: #df4f01;
				font-size: 1.2em;
				font-weight: 600;
			}
			ul {
				padding: 1em 0;
				li {
					//list-style-type: disc;
					background: url(../images/bullet.png) no-repeat 0px 7px;
					padding-left: 1em;
				}
			}
		}
		.one {
			.bottom {
				margin-top: 50px;
			}
		}
		.two, .three {
			//padding: 0 45px;
			padding-left: 2%;
		}
		ul.displayTab {
			display: none;
		}
	}
	.scholarships-download {
		height: 135px;
		text-align: center;
		color: #fff;
		font-size: 1.7em;
		padding: 0;
		overflow: hidden;
		position: relative;
		.container {
			line-height: 500%;
		}
		a {
			color: #fec562;
		}
		img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			z-index: -1;
		}
	}
	.scholarships-download.waypoint-16 {
		.container {
			line-height: 270%;
		}
	}
	.scholarships-results {
		.container {
			position: relative;
			height: 685px;
			//.clearfix();
			img {
				//position: absolute;
				display: block;
				//width: 100%;
			}
			.forMobile {
				display: none;
			}
		}
	}
	.waypoint-8-1, .waypoint-17 {
		.container {
			.sub-container {
				position: relative;
				width: 100%;
				height: 100%;
				.clearfix();
				span {
					position: absolute;
					display: block;
					img {
						width: auto;
						//position: initial;
						//position: static;
					}
					&.one {
						top: 100px;
						left: 0;
					}
					&.two {
						top: 100px;
						right: -68px;
					}
					&.three {
						left: 400px;
					}
					&.four {
						left: 407px;
						bottom: 80px;
					}
					&.four.credit {
						left: 307px;
					}
				}
			}
		}
	}
	.scholarships-results.obras {
		.container {
			height: initial;
		}
		.banner {
			background: url(../images/banner_resultados.jpg) no-repeat center;
			background-size: cover;
			width: 100%;
			//height: 273px;
			height: 377px;
			position: relative;
			.container {
				position: relative;
				.box {
					position: absolute;
					right: 0;
					background: #fff;
					width: 310px;
					height: 130px;
					box-sizing: border-box;
					padding: 20px;
					text-align: center;
					h1 {
						font-size: 1.8em;
						color: #ff6600;
					}
					p {
						font-size: .95em;
						font-family: 'flexoBold';
					}
				}
				.one {
					top: 40px;
				}
				.two {
					top: 200px;
				}
				.clearfix();
			}
			span.dentado {
				display: block;
				position: absolute;
				bottom: 0;
				background: url(../images/dentado.png) repeat-x;
				width: 100%;
				height: 5px;
			}
		}
		.container {
			ul {
				&.datos-2 {
					padding: 50px 0;
					border-bottom: 1px solid #D4D4D4;
					.clearfix();
					li {
						width: 32%;
						min-height: 240px;
						float: left;
						padding-right: 4%;
						line-height: 150%;
						&:last-child {
							width: 25%;
							padding-right: 0;
							padding-left: 2%;
							border-left: 1px solid #D4D4D4;
						}
						span {
							display: block;
							img {
								width: initial;
								max-width: 100%;
								height: auto;
							}
							&.thumb {
								height: 170px;
							}
							&.orange {
								//color: #ff6600;
								//padding-bottom: 50px;
							}
						}
					}
				}
			}
			.waypoint-4-3 {
				position: relative;
				width: 100%;
				height: 500px;
				padding: 50px 0;
				.clearfix();
				span {
					position: absolute;
					display: block;
					img {
						width: auto;
						display: block;
						position: initial;
					}
					top: 50px;
					&.one {
						left: -50px;
					}
					&.two {
						//right: -50px;
						right: 0;
					}
				}
			}
			.graficos {
				position: relative;
				height: 500px;
				img {
					width: auto;
				}
				span {
					position: absolute;
					top: 0;
					&.one {
						left: 0;
					}
					&.two {
						right: 0;
					}
				}
			}
		}
	}
	.scholarships-gallery {
		background: url(../images/bg_pattern.png);
		border-top: 1px solid #EAEAEA;
		overflow: hidden;
		.container {
			font-family: 'flexoLight';
			position: relative;
			.video_1, .video_2, .video_3, .video_4, .video_5, .video_6, .video_7, .video_8, .video_9, .video_10 {
				.clearfix();
			}
			.pager {
				position: absolute;
				left: 0;
				top: 350px;
				border-top: 4px solid #f2b140;
				a {
					width: 20px;
					height: 20px;
					background: #d8d6d5;
					display: block;
					float: left;
					text-align: center;
					border-radius: 50%;
					color: #d8d6d5;
					margin: 30px 5px 0 0;
					&.selected {
						background: #f2b140;
						color: #f2b140;
					}
				}
			}
			.left {
				float: left;
				margin: 50px 0;
				width: 25%;
				h3 {
					color: #df4f01;
					font-size: 1.5em;
					padding: 0 0 20px 0;
				}
				span {
					font-size: 1.5em;
					line-height: 150%;
				}
			}
			.right {
				float: right;
				background: #fff;
				border: 1px solid #EAEAEA;
				//margin-bottom: 70px;
				position: relative;
				//width: 74%;
				span.player {
					//display: block;
					display: -webkit-flex;
					display: flex;
					-webkit-align-items: center;
					-webkit-justify-content: center;
					justify-content: center;
					align-items: center;
					//background: #fff;
					//background: url(../images/bg_video.png) no-repeat center;
					width: 619px;
					height: 360px;
					padding: 10px;
					iframe {
						width: 619px;
					}
				}
				span.shadow {
					position: absolute;
					bottom: -62px;
				}
			}
			.carousel.mobile {
				display: none;
			}
		}
	}
	.scholarships-fotos {
		.container {
			h3 {
				color: #df4f01;
				font-size: 1.5em;
				padding: 0 0 50px 0;
			}
			.fotos {
				//.clearfix();
				display: -webkit-flex;
				display: flex;
				-webkit-align-items: center;
				align-items: center;
				.nav-left, .nav-right {
					width: 3%;
					float: left;
					background: #f1f1f1;
					text-align: center;
					padding: 15px 0;
					&:hover {
						cursor: pointer;
						img {
							opacity: 0.7;
						}
					}
				}
				ul {
					background: #f1f1f1;
					width: 90%;
					padding: 2%;
					float: left;
					li {
						width: 32%;
						float: left;
						padding-right: 2%;
						margin-bottom: 2%;
						span.thumbnail {
							display: block;
							height: 255px;
							background: #cecece;
							overflow: hidden;
							img {
								width: 100%;
								//height: auto;
								height: 100%;
							}
						}
						span.title {
							display: block;
							text-align: center;
							padding: 10px;
							color: #7f7f7f;
						}
						/*&:last-child {
							padding-right: 0;
						}*/
						&:nth-child(3n) {
							padding-right: 0;
						}
					}
				}
			}
		}
		.fotos-for-mobile {
			display: none;
		}
	}
}
.section-credits {
	//background: red;
	display: none;
	.scholarships-the-program {
		.container {
			position: relative;
			ul {
				.clearfix();
				li {
					width: 18%;
					float: left;
					padding: 2% 1%;
					text-align: center;
					a {
						color: #F2B13D;
					}
					span {
						display: block;
						&:first-child {
							border-bottom: 2px solid #f2b140;
							width: 25%;
							margin: 0 auto;
							padding-bottom: 7px;
							color: #004475;
							font-size: 2em;
						}
						&:last-child {
							//font-family: 'flexoBold';
							font-size: .9em;
							padding: 30px 10px;
							line-height: 150%;
							min-height: 63px;
							border-right: 1px solid #c3c3c3;
						}
					}
					&:last-child {
						span {
							&:last-child {
								border: none;
							}
						}
					}
				}
			}
			span.icon-down {
				position: absolute;
				width: 100%;
				bottom: -25px;
				text-align: center;
				z-index: 999;
				img {
					cursor: pointer;
				}
			}
		}
	}
	.section-universities {
		display: none;
		background: #fafbfb;
		padding: 50px 0;
		.container {
			position: relative;
			//.clearfix();
			h3 {
				padding: 1em 0;
				font-family: 'flexoBold';
			}
			.left, .right {
				//width: 50%;
				float: left;
				line-height: 200%;
				font-size: .9em;
				padding: 30px 0;
				.clearfix();
				ul {
					li {
						span {
							color: #f2b140;
							padding-right: .5em;
						}
					}
				}
			}
			.left {
				//width: 60%;
				width: 50%;
				ul {
					border-right: 1px solid #c3c3c3;
					margin-right: 2em;
				}
			}
			.right {
				//width: 40%;
				width: 50%;
				// ul {
				// 	padding: 3.5em 0;
				// }
			}
			p {
				padding: 3em 0;
				a {
					color: #f2b140;
				}
			}
			span.icon-down2 {
				position: absolute;
				left: 0;
				right: 0;
				bottom: -73px;
				text-align: center;
				img {
					transform: rotate(180deg);
					cursor: pointer;
				}
			}
			.forMobile {
				display: none;
			}
		}
	}
	.section-seleccion, .section-finance {
		background: url(../images/pattern.png);
		border-top: 1px solid #EAEAEA;
		padding: 50px 0;
		.container {
			h2 {
				color: #004475;
				font-size: 2em;
				padding: 1em 0;
				font-family: flexoLight;
			}
			ul {
				padding: 1em 0;
				line-height: 250%;
				li {
					background: url(../images/bullet.png) no-repeat 0px 15px;
					padding-left: 1em;
					a {
						color: #f2b140;
					}
				}
			}
		}
	}
	.section-finance {
		background: none;
		.container {
			p {
				font-family: 'flexoDemi';
			}
			ul {
				li {
					display: inline-block;
					padding: 10px 35px 10px 20px;
					background: url(../images/bullet.png) no-repeat 0 25px;
				}
			}
			.bquote {
				display: block;
				width: 50%;
				margin: 30px auto;
				padding: .7em;
				color: #e14f00;
				font-size: 25px;
				font-family: 'flexoLight';
				text-align: center;
				line-height: 120%;
				border: 2px dashed #c3c3c3;
			}
		}
	}
	.section-credito-estudios {
		background: url(../images/pattern.png);
		padding: 50px 0;
		.container {
			text-align: center;
			h3 {
				font-size: 1.2em;
			}
			a {
				color: #fff;
				display: block;
				background: #7fa6c4;
				width: 170px;
			    margin: 20px auto 10px;
			    font-size: 1.2em;
			    border-radius: 25px;
			    padding: 10px;
			    text-decoration: none;
			    &:hover {
			    	background: #004475;
			    	-webkit-transition: background ease .5s;
			    	transition: background ease .5s;
			    }
			}
		}
	}

	section.condicionesForMobile {
		display: none;
	}
	.section-finance-table {
		background: url(../images/bg_financiamiento.jpg) no-repeat center;
		background-size: cover;
		position: relative;
		.container {
			padding: 75px 0;
			div {
				padding: 2em;
				background: #fff;
				table {
					background: #fff;
					line-height: 150%;
					tr {
						&.bg {
							background: #ebf3f8;
						}
						th {
							text-align: left;
							font-size: 1.5em;
							color: #e14f00;
							padding: 10px 20px;
							border-bottom: 1px solid #EAEAEA;
						}
						td {
							width: 50%;
							padding: 5px 20px;
							font-size: .9em;
							&:first-child {
								background: url(../images/bullet.png) no-repeat 15px 13px;
								padding-left: 35px;
								border-right: 1px solid #EAEAEA;
							}
							&:last-child {
								padding-left: 30px;
							}
						}
					}
				}
			}
		}
		span {
			position: absolute;
			top: 0;
			background: url(../images/dentado.png) repeat-x;
			height: 5px;
			width: 100%;
			-webkit-transform: rotate(180deg);
			-moz-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			-o-transform: rotate(180deg);
			transform: rotate(180deg);
		}
	}
	.section-talent {
		padding: 50px 0;
		height: auto;
		.container {
			h2 {
				color: #004475;
				font-size: 2em;
				padding: 1em 0;
				font-family: flexoLight;
			}
			.left {
				background: url(../images/talent-1.png) no-repeat 350px 135px;
				padding-right: 18%;
			}
			.right {
				background: url(../images/talent-2.png) no-repeat 350px 135px;
				padding-right: 18%;
			}
		}
	}
	.creditos-download {
		padding: 30px 0;
		p {
			font-size: initial;
			padding: 1em 0;
		}
	}
}

//STARDAR
.box-quote {
	width: 25%;
	margin: 30px auto;
	padding: 1em;
	color: #e14f00;
	font-size: 20px;
	text-align: center;
	font-family: flexoLight;
	border: 2px dashed #c3c3c3;
}

.section-calcular {
	display: none;
	background: #fafbfb;
	padding: 50px 0;
	position: relative;
	img.down {
		//display: none;
		position: absolute;
		left: 0;
		right: 0;
		//bottom: -22px;
		top: -22px;
		margin: 0 auto;
		cursor: pointer;
		// -webkit-transform: rotate(180deg);
		// -ms-transform: rotate(180deg);
		// transform: rotate(180deg);
	}
	.container {
		text-align: center;
		h3 {
			font-size: 1.5em;
			color: #e14f00;
			padding: 1em 0;
		}
		table.datos {
			width: 640px;
			text-align: center;
			margin: 0 auto;
			tr {
				td {
					//height: 80px;
					vertical-align: middle;
					font-size: .9em;
					border-bottom: 1px solid #d6d6d6;
					padding: 23px 0;
					&.logo-print {
						display: none;
					}
					&.title {
						display: none;
					}
					&.texto {
						//height: 40px;
						width: 100% !important;
					}
					&:first-child {
						text-align: left !important;
						width: 422px;
						//height: 40px;
					}
					&:last-child {
						text-align: right;
						width: 218px;
						.strong {
							display: initial;
						}
					}
					span {
						display: block;
						&.strong {
							padding: 0;
						}
						&.sub {
							padding-top: .5em;
							color: #868686;
							font-size: .9em;
						}
					}
					input {
						padding: 10px;
						background: #d5e6f0;
						border: 1px solid #b7c8d2;
						border-radius: 2px;
						font-size: 15px;
						width: 130px;
						&.error {
							border-color: #e14f00;
							box-shadow: 0 0 10px #719ECE;
							&:focus {
								outline: none !important;
							}
						}
					}
					label.error {
						display: none !important;
					}
				}
			}
		}
		a.btn-calcular {
			display: block;
			background: #e14f00;
			color: #fff;
			padding: 10px;
			width: 150px;
			border-radius: 25px;
			margin: 25px auto;
			text-decoration: none;
		}
		.results {
			display: none;
			width: 640px;
			margin: 0 auto;
			//background: url(../images/pattern_3.png);
			padding: 20px 0;
			border-top: 1px solid #d6d6d6;
			border-bottom: 1px solid #d6d6d6;
			.clearfix();
			table {
				width: 640px;
				background: url(../images/pattern_3.png);
				//background: url(http://circusint.com/2015/bcp/bcp_rrss_site/images/pattern_3.png);
				tr {
					td {
						&:first-child {
							width: 70%;
						}
						&:last-child {
							width: 30%;
							span {
								width: 90%;
								//text-align: right;
							}
						}
					}
				}
			}
			span {
				display: block;
				//width: 50%;
				float: left;
				&.one {
					span {
						font-family: 'flexoBold';
					}
				}
				&.three {
					font-family: 'flexoBold';
				}
				&.four {
					color: #e14f00;
				}
				&.one, &.three {
					//width: 65%;
					text-align: left;
					padding: 10px 0 10px 5%;
					font-size: .9em;
				}
				&.two, &.four {
					//width: 25%;
					//width: 80%;
					text-align: right;
					padding: 10px 5% 10px 0;
					font-family: 'flexoBold';
					font-size: 1.25em;
				}
			}
		}
		.download {
			&.pdf {
				display: block;
			}
			display: none;
			padding: 30px 0;
			span {
				font-size: .75em;
			}
			table {
				width: 500px;
				text-align: center;
				margin: 0 auto;
				font-size: .75em;
				tr {
					td {
						vertical-align: middle;
						padding: 0 1em;
						&:nth-child(even){
							text-align: left;
						}
						&:nth-child(odd){
							padding-top: 2em;
							a {
								display: block;
								font-family: 'flexoBold';
								color: #efb04e;
								text-decoration: none;
								padding: .5em 0;
							}
						}
					}
				}
			}
		}
	}
}

.sec-financiera {
	.scholarships-the-program {
		padding-bottom: 50px;
		p {
			padding: 0.5em 0;
		}
	}
	.scholarships-as-elaborated {
		ul.etapas {
			li {
				&.numb1, &.numb2, &.numb3 {
					min-height: 500px !important;
					width: 25.9%;
					padding: 0 4%;
				}
				&:last-child {
					padding-right: 0 !important;
				}
				ul.ul_text {
					li {
						float: none;
						background: url(../images/bullet.png) no-repeat 0 16px !important;
						width: 90% !important;
						padding: 0.5em 0;
						min-height: initial;
					}
				}
				span.tiempo {
					font-size: initial !important;
					width: 100% !important;
					font-family: 'flexoBoldit';
				}
			}
		}
	}
	.scholarships-results {
		padding-bottom: 0;
		.container {
			height: auto;
			position: relative;
			.clearfix();
		}
		.franja {
			background: url(../images/bg_copos.png) no-repeat top center #004475;
			position: relative;
			height: 458px;
			-webkit-box-shadow:inset 0 0 90px 35px rgba(0, 0, 0, 0.5);
			box-shadow:inset 0 0 90px 35px rgba(0, 0, 0, 0.5);
			overflow: hidden;
			img.thumb {
				position: absolute;
				top: 0;
				left: 0;
			}
			ul {
				color: #fff;
				//padding: 0 0 0 50%;
				width: 50%;
				position: absolute;
				top: 37px;
				right: 0;
				li {
					background: url(../images/bullet.png) no-repeat 0 30px;
					padding: 1em 1em 1em 2em;
					font-family: 'flexoLight';
					line-height: 180%;
					span {
						&.numb {
							color: #51d8e4;
							font-size: 1.7em;
						}
						&.text {
							font-size: 1.5em;
						}
					}
				}
			}
		}
	}
}
.sec-financiera.agentes {
	.scholarships-as-elaborated {
		ul.etapas {
			& > li {
				min-height: 500px !important;
			}
			span.tiempo {
				min-height: 60px;
			}
		}
	}
	.scholarships-results {
		.franja {
			ul {
				top: 100px;
			}
		}
	}
}
.sec-financiera.section-univ {
	.scholarships-as-elaborated {
		h5 {
			color: #e14f00;
			font-size: 1.5em;
			text-align: center;
			padding: 1.5em 0;
		}
		ul {
			.clearfix();
			li {
				float: left;
				width: 20%;
				padding: 15px 2% 0 2%;
				border-right: 1px solid #d2d2d2;
				&:last-child {
					border: none;
				}
			}
		}
	}
	.scholarships-results {
		.franja {
			ul {
				top: 120px;
			}
		}
	}
}
.scholarships-credits-header.medioAmbiente {
	.banner {
		background: url(../images/bg_medioAmbiente.jpg) no-repeat top center;
		background-size: cover;
	}
}
.section-scholarships.medioAmbiente {
	overflow: hidden;
	.scholarships-the-program {
		padding-bottom: 50px;
		p {
			padding: 1em 0;
			&.strong {
				font-family: 'flexoBold';
			}
		}
		ul {
			.clearfix();
			li {	
				background: url(../images/bullet.png) no-repeat 0 8px;
				padding: 0 0 0 1em;
				width: 47%;
				line-height: 180%;
				float: left;
			}
		}
	}
	.scholarships-as-elaborated {
		border-bottom: 1px solid #EAEAEA;
		.container {
			position: relative;
			height: 570px;
			span.bquote {
				width: 45%;
				display: block;
			    margin: 30px auto 60px auto;
			    padding: 1em;
			    color: #e14f00;
			    font-size: 25px;
			    text-align: center;
			    border: 2px dashed #c3c3c3;
			}
			h3 {
				padding: 1em 0;
				font-family: 'flexoBold';
			}
			p {
				padding: 1em 0;
			}
			ul {
				&.acciones {
					position: absolute;
					left: 0;
					bottom: -280px;
					.clearfix();
					li {
						width: 25%;
						float: left;
						text-align: center;
						span {
							display: block;
							p {
								padding: 1em 3em 1em 0;
								font-size: .85em;
							}
						}
					}
				}
			}
		}
	}
	.scholarships-results {
		.container {
			padding-top: 200px;
			span.subtitle {
				display: block;
				text-align: center;
				color: #e14f00;
				padding: 50px 0;
			}
			ul {
				.clearfix();
				li {
					float: left;
				}
			}
		}
	}
	.protocolo-agency {
		background: url(../images/bg_pattern.png);
		border-top: 1px solid #EAEAEA;
		border-bottom: 1px solid #EAEAEA;
		//overflow: hidden;
		.container {
			h3 {
				font-family: 'flexoBold';
				padding: 1em 0;
			}
			p {
				padding: 1em 0;
			}
			ul {
				padding: 25px 0;
				.clearfix();
				li {
					background: url(../images/bullet.png) no-repeat 0;
					padding: .5em 1em;
					width: 45%;
					float: left;
				}
			}
		}
	}
	.ecologia {
		.container {
			.clearfix();
			.left {
				width: 70%;
				float: left;
			}
			.right {
				width: 20%;
				padding: 30px 0;
				margin-left: 10%;
				float: left;
				img {
					width: 100%;
				}
			}
			h2 {
				padding: 3em 0 0 0;
			}
		}
	}
	.results {
		background: url(../images/bg-medio-results.jpg) no-repeat center center;
		background-size: cover;
		height: 440px;
		padding: 0;
		.container {
			text-align: center;
			img {
				padding: 70px 0;
			}
		}
	}
}
nav.nav-line {
	position: absolute;
	right: 70px;
	top: 250px;
	//height: 261px;
    padding: .5em;
    ul {
    	li {
    		margin: 5px 0;
    		padding: 0 10px;
    		background: url(../images/marcador.png) no-repeat 0 12px;
    		height: 75px;
    		a {
    			text-decoration: none;
    			color: #004475;
    			display: block;
    			padding: 5px 10px;
    			text-align: center;
    		}
    	}
    	span {
    		display: block;
    		text-align: center;
    	}
    }
}
.nav-fixed {
    position: fixed !important;
    top: 70px !important;
    transition: position ease .5s;
    -webkit-transition: top ease 1s;
    transition: top ease .5s;
}
//Fondo año activado
.anoActive {
    font-weight: bold;
    color: #e14f00 !important;
    text-decoration: underline !important;
}
//END

#line {
	background: url(../images/pattern_2.png);
	margin-top: 5px;
	.container {
		.box {
			ul.father {
				width: 80%;
				margin: 0 auto;
				li {
					display: -webkit-flex;
					display: flex;
					align-items: center;
					justify-content: center;
					position: relative;
					line-height: 130%;
					ul.son {
						position: absolute;
						right: 0;
						max-width: 230px;
						li {
							display: inherit;
							padding: 10px 0 10px 20px;
							&.vineta {
								background: url(../images/bullet.png) no-repeat 0 15px;
							}
							&.title {
								font-size: 1.7em;
								font-family: 'flexoRegularit';
								color: @blue;
								padding: 10px 0 10px 20px;
								position: relative;
							}
							&:last-child {
								position: initial;
								span {
									display: block;
									background: @yellow;
									width: 50px;
									height: 2px;
									margin: 10px 0;
								}
							}
						}
						span.title {
							font-size: 1.7em;
							font-family: 'flexoRegularit';
							color: @blue;
						}
					}
				}
			}
			&.one {
				padding-top: 100px;
				ul.son {
					max-width: 260px !important;
				}
			}
			&.two {
				ul.son {
					left: 0;
					li {
						&.title {
							font-size: 1.7em;
							padding: 0 0 0 20px !important;
						}
					}
				}
			}
			&.three {
				ul.son {
					right: 60px !important;
					top: -70px;
					li {
						&:first-child {
							color: #e2e2e2;
							font-size: 4em;
						}
					}
				}
			}
			&.four {
				ul.son {
					left: 0;
					li {
						&.title {
							span {
								position: absolute;
								right: -50px;
							}
						}
					}
				}
			}
			&.five {
				ul.son {
					right: 0;
					li {
						&.title {
							position: relative;
							span {
								position: absolute;
								top: -40px;
								right: 0;
							}
						}
					}
				}
			}
			&.six {
				ul.son {
					left: 0;
					top: -70px;
					li {
						&.title {
							position: relative;
							span {
								position: absolute;
								top: 10px;
								right: -20px;
							}
						}
						&:first-child {
							color: #e2e2e2;
							font-size: 4em;
						}
					}
				}
			}
			&.seven {
				ul {
					li {
						&.title {
							position: relative;
							span {
								position: absolute;
								right: -30px;
								top: -55px;
							}
						}
					}
				}
			}
			&.nine {
				ul.son {
					left: 0;
					li {
						&.title {
							position: relative;
							span {
								position: absolute;
								right: -45px;
								top: 0;
							}
						}
					}
				}
			}
			&.ten {
				ul {
					&.son {
						top: -280px;
						right: 100px;
						max-width: 350px !important;
						li {
							padding: 10px 0;
							&:first-child {
								font-size: 4em;
								color: #e2e2e2;
							}
							&:nth-child(3) {
								margin-left: 70px;
							}
							&:nth-child(4) {
								margin-left: 130px;
							}
							&:nth-child(5) {
								margin-left: 100px;
							}
							&:nth-child(6) {
								margin-left: 70px;
							}
						}
					}
				}
			}
			&.eleven {
				ul {
					&.son {
						left: 0;
						top: 0;
						max-width: 350px !important;
						li {
							padding: 10px 0;
							&:nth-child(1){
								margin-left: 20px;
							}
							&:nth-child(2){
								width: 80%;
							}
							&:nth-child(3){
								margin-left: 50px;
								width: 75%;
							}
							&:nth-child(4){
								margin-left: 70px;
							}
							&:nth-child(5){
								margin-left: 70px;
							}
						}
					}
				}
			}
			&.twelve {
				ul {
					&.son {
						right: -50px !important;
						top: -150px;
						max-width: 330px !important;
						li {
							padding: 10px 0;
							&.title {
								padding: 0 0 0 20px !important;
							}
							&:nth-child(2){
								margin-left: 30px;
							}
							&:nth-child(3){
								margin-left: 50px;
							}
						}
					}
				}
			}
			&.thirteen {
				ul {
					&.son {
						left: 0;
						top: -50px;
						max-width: 300px !important;
						li {
							padding: 10px 0;
							&:first-child {
								font-size: 4em;
								color: #e2e2e2;
							}
							span.title {
								display: block;
								padding: 10px 0;
								position: relative;
								span {
									position: absolute;
									right: 50px;
									top: 20px;
								}
							}
						}
					}
				}
			}
			&.fourteen {
				ul {
					&.son {
						max-width: 300px !important;
						li {
							span.title {
								position: relative;
								span {
									position: absolute;
									right: -70px;
									top: -10px;
								}
							}
						}
					}
				}
			}
			&.fifteen {
				ul {
					&.son {
						left: 0;
						max-width: 300px !important;
						li {
							&.vineta {
								background: url(../images/bullet.png) no-repeat 0 15px !important;
								padding: 0 0 0 20px !important;
							}
						}
					}
				}
			}
			&.sixteen {
				ul {
					&.son {
						top: -100px;
						max-width: 300px !important;
						li {
							&:first-child {
								color: #e2e2e2;
								font-size: 4em;
							}
							&:nth-child(2) {
								position: relative;
								width: 80%;
								span.icon {
									position: absolute;
									right: -75px;
									top: 60px;
								}
							}
							&:nth-child(3) {
								position: relative;
								span.icon {
									position: absolute;
									right: 0;
									top: 0;
								}
							}
						}
					}
				}
			}
			&.seventeen {
				ul {
					&.son {
						left: 0;
						top: 0;
						max-width: 250px !important;
						li.vineta {
							position: relative;
							span.icon {
								position: absolute;
								right: -50px;
								top: 0;
							}
						}
					}
				}
			}
			&.eighteen {
				//height: 600px;
				ul {
					&.son {
						//top: -100px;
						top: -120px;
						max-width: 350px !important;
						li {
							&:nth-child(1) {
								margin-left: 10px;
							}
							&:nth-child(2) {
								margin-left: 50px;
							}
							&:nth-child(3) {
								margin-left: 80px;
							}
							&:nth-child(4) {
								margin-left: 70px;
							}
							&:nth-child(5) {
								margin-left: 50px;
							}
							&:nth-child(6) {
								margin-left: 40px;
							}
							&:nth-child(7) {
								margin-left: 10px;
							}
						}
					}
				}
			}
			&.nineteen {
				height: 500px;
				ul {
					&.son {
						left: 0;
						max-width: 300px !important;
						li {
							&.title {
								padding: 0 0 0 20px !important;
								position: relative;
								span {
									position: absolute;
									right: 0;
									top: -25px;
								}
							}
							&:first-child {
								color: #e2e2e2;
								font-size: 4em;
							}
						}
					}
				}
			}
		}
	}
}
//REPORTING
.scholarships-credits-header {
	.reporting {
		background: url(../images/bg_reporting.jpg) no-repeat top center;
		background-size: cover;
	}
}
.scholarships-as-elaborated.reportes {
	margin: 25px 0 0 0;
	.container {
		display: -webkit-flex;
		display: flex;
		.left {
			width: 36%;
			display: -webkit-flex;
			display: flex;
			-webkit-align-items: center;
			align-items: center;
			padding-right: 2%;
			span {
				display: block;
				&:first-child {
					color: #e14f00;
					font-size: 20px;
					padding-right: 2em;
					line-height: 120%;
					.border {
						display: block;
					    background: #f2b140;
					    height: 2px;
					    width: 10px;
					    margin-top: 15px;
					}
				}
				&:last-child {
					border-right: 1px solid #DEDEDE;
				}
			}
		}
		.right {
			width: 62%;
			ul {
				li {
					padding: 0 0 1.5em 1.5em;
					line-height: 130%;
					&:first-child {
						background: url(../images/bullet.png) no-repeat 0 5px;
					}
				}
			}
			a {
				color: @yellow;
			}
		}
	}
}
.scholarships-gallery.files, .scholarships-gallery.principios {
	display: none;
	background: url(../images/icon-show.png) no-repeat top center #fff;
	border: none;
	width: 100%;
	height: 400px;
	//.clearfix();
	.container {
		.carousel, .carousel2 {
			height: 360px !important;
			overflow: hidden;
			.left {
				width: 30%;
				margin: 170px 0 0 0;
				h3 {
					color: initial;
				}
			}
			.right {
				border: none;
				span {
					&.player {
						display: -webkit-flex;
						display: flex;
						-webkit-flex-direction: column;
						flex-direction: column;
						-webkit-justify-contet: center;
						justify-contet: center;
						a:first-child {
							width: 449px;
							height: 269px;
							position: relative;
							text-decoration: none;
							img {
								display: block;
							}
							span.icon-pdf {
								position: absolute;
								right: 10px;
								bottom: 10px;
							}
						}
						a:last-child {
							//display: block;
							text-align: center;
							padding: 1em 0;
							color: #f2b140;
						}
					}
				}
			}
		}
		.pager {
			top: 340px;
			left: initial;
			right: 200px;
			border-top: none;
			&.two {
				right: 290px;
			}
		}
	}
}
.section-finance-table-reportes {
	background: url(../images/bg-pacto-mundial.jpg) no-repeat center;
	background-size: cover;
	position: relative;
	.container {
		padding: 75px 0;
		div {
			padding: 2em;
			background: #fff;
			table {
				background: #fff;
				line-height: 150%;
				tr {
					&.bg {
						background: #ebf3f8;
						td:first-child {
							//padding-left: 35px;
						}
					}
					th {
						font-size: 1.5em;
						color: #e14f00;
						padding: 10px 20px;
						border-bottom: 1px solid #EAEAEA;
					}
					td {
						padding: 5px 35px;
						font-size: .9em;
						border-right: 1px solid #EAEAEA;
						vertical-align: middle;
						height: 58px;
						&.bullet {
							background: url(../images/bullet.png) no-repeat 15px 29px;
						}
						&:last-child {
							padding-left: 30px;
							border-right: none;
						}
					}
				}
			}
		}
	}
	span {
		position: absolute;
		bottom: 0;
		background: url(../images/dentado.png) repeat-x;
		height: 5px;
		width: 100%;
		// -webkit-transform: rotate(180deg);
		// -moz-transform: rotate(180deg);
		// -ms-transform: rotate(180deg);
		// -o-transform: rotate(180deg);
		// transform: rotate(180deg);
	}
}

// VOLUNTARIOS
.scholarships-credits-header.voluntartios {
	.banner {
		background: url(../images/bg_banner_volun.jpg) no-repeat center top;
	}
}
.scholarships-results.voluntarios {
	padding: 0;
	.franja {
		background: none;
		height: auto;
		box-shadow: none;
		img.thumb {
			position: initial;
			width: 100% !important;
		}
	}
}
.scholarships-credits-header.voluntarios {
	margin: 0;
	position: initial !important;
	overflow: initial !important;
}
.scholarships-as-elaborated.voluntarios {
	.container {
		p {
			font-family: 'flexoBold';
		}
		ul {
			li {
				background: url(../images/bullet.png) no-repeat 0 19px;
    			padding: 1em;
			}
		}
	}
}
.scholarships-the-program.voluntarios,
.scholarships-results.voluntarios {
	padding: 50px 0;
	h2 {
		color: #004475;
		font-size: 2em;
		padding: 1em 0;
		font-family: 'flexoLight';
	}	
}
.section-scholarships.voluntarios,
.section-credits.voluntarios {
	.box-programs {
		h2 {
			text-align: center;
			padding: 1em 0;
			color: #df4f01;
		}
		ul {
			.clearfix();
			li {
				width: 50%;
				float: left;
				padding-bottom: 2em;
				font-size: .9em;
				.clearfix();
				.left, .right {
					// width: 50%;
					float: left;
				}
				.left {
					width: 40%;
				}
				.right {
					background: url(../images/arrow-right.png) no-repeat left top;
					width: 60%;
					padding: 2.5em 10% 0 0;
					box-sizing: border-box;
					line-height: 120%;
				}
				&:nth-child(even){
					.right {
						padding-right: 0;
					}
				}
			}
		}
	}
}
.section-credits.agentes.voluntarios {
	.box-programs {
		ul {
			li {
				&:first-child {
					width: 100%;
					.left {
						width: 20%;
					}
					.right {
						width: 80%;
						padding-right: 0;
					}
				}
				&:nth-child(even){
					.right {
						padding-right: 10%;
					}
				}
			}
		}
	}
}



// AGREGADOS ÚLTIMOS
#box-video {
    display: none;
    background: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    z-index: 9999;
    .mensaje {
    	background: url(../images/bg_pattern.png);
	    width: 854px;
	    text-align: center;
	    color: #4c4c4c;
	    padding: 0;
	    margin: 0 auto;
	    .contenedor {
	    	position: relative;
    		padding: 70px 0 0 0;
    		img {
				position: absolute;
				right: 15px;
				top: 15px;
				cursor: pointer
    		}
    		a.mail {
				color: #e14f00;
				font-size: 1.4em;
				text-decoration: none
    		}
    		.border {
				display: block;
				width: 120px;
				height: 3px;
				background: #f2b140;
				margin: 20px auto 0
    		}
	    }
    }
    .player {
    	iframe {
    		float: left;
    	}
    }
}

#box-contacto,
#box-cartilla {
	display: none;
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0 auto;
	z-index: 9999;
	.mensaje {
		background: url(../images/bg_pattern.png);
		width: 548px;
		text-align: center;
		line-height: 180%;
		color: #4c4c4c;
		.contenedor {
			position: relative;
			padding: 7em 2em;
			img {
				position: absolute;
				right: 15px;
				top: 15px;
				cursor: pointer;
			}
			a.mail {
				color: #e14f00;
				font-size: 1.4em;
				text-decoration: none;
			}
			.border {
				display: block;
				width: 120px;
				height: 3px;
				background: #f2b140;
				margin: 20px auto 0;
			}
		}
	}
}
#box-cartilla {
	.mensaje {
		width: 70%;
		.contenedor {
			h2 {
				color: #004475;
				font-size: 2em;
				padding: 1em 0;
				font-family: 'flexoLight';
			}
			p {
				padding: 1em 0;
			}
			.clearfix();
			span {
				display: -webkit-flex;
				display: flex;
				float: left;
				align-items: center;
				img {
					position: initial;
				}
				&:first-child {
					text-align: left;
					font-size: 1.2em;
					width: 79%;
					line-height: 230%;
					border-right: 1px solid #fff;
				}
				&:last-child {
					-webkit-justify-content: flex-end;
					justify-content: flex-end;
					width: 20%;
				}
			}
			ul {
				li {
					color: #fff;
					display: inline-block;
					padding: 1em;
					margin-right: 1em;
					width: 40%;
					box-sizing: border-box;
					border: 5px solid #fff;
					border-radius: 5px;
					&:nth-child(even) {
						margin: 0;
					}
					&:nth-child(1) {
						background: #e1358b;
					}
					&:nth-child(2) {
						background: #93c558;
					}
					&:nth-child(3) {
						background: #e86e45;
					}
					&:nth-child(4) {
						background: #3cabe4;
					}
					&:nth-child(5) {
						background: #52cacb;
					}
				}
			}
		}
	}
}



//EVENTOS
.active {
	display: block!important;
}

//MENU FIXED
.fixed {
	height: 65px;
	border-bottom: 1px solid #D8D8D8;
	//opacity: 1;
	z-index: 1002;
	-webkit-transition: opacity 0.5s ease, height 0.5s;
	-moz-transition: opacity 0.5s ease, height 0.5s;
	-o-transition: opacity 0.5s ease, height 0.5s;
	-ms-transition: opacity 0.5s ease, height 0.5s;
	transition: opacity 0.5s ease, height 0.5s;
	.logo {
		background: url(../images/bg-logo-bcp2.png) no-repeat left center;
		-webkit-transition: background 0.2s linear;
		-moz-transition: background 0.2s linear;
		-o-transition: background 0.2s linear;
		-ms-transition: background 0.2s linear;
		transition: background 0.2s linear;
		top: 15px;
	}
	.btn-menu-open {
		background: url(../images/bg_menu_open2.png) no-repeat right top;
		-webkit-transition: background 0.2s linear;
		-moz-transition: background 0.2s linear;
		-o-transition: background 0.2s linear;
		-ms-transition: background 0.2s linear;
		transition: background 0.2s linear;
		top: 15px;
	}
}
.hidden {
	opacity: 0;
}
.show {
	opacity: 1;
}
.show-nav {
	display: block;
}
//MEDIA QUERIES
@media only screen and (max-width : 1200px) {
	.sec-financiera {
		.scholarships-results {
			.franja {
				height: 360px;
				img.thumb {
					width: 550px;
				}
				ul {
					top: 15px;
					width: 50%;
					font-size: .9em;
					padding: 0;
				}
			}
		}
	}
}
@media only screen and (max-width : 1024px) {
	.sec-financiera {
		.scholarships-results {
			.franja {
				height: 328px;
				img.thumb {
					width: 500px;
				}
				ul {
					top: 25px;
					width: 50%;
					font-size: .85em;
					padding: 0;
					li {
						background: url(../images/bullet.png) no-repeat 0 15px;
						padding: .5em .5em .5em 2em;
					}
				}
			}
		}
	}
}


















