html {
	height: 100%;
}
body{
	font-family: 'flexoRegular';
	height: 100%;
	//background: #000;
}

header, section, article, footer{
	display: block;
	//min-width: 980px;
	position: relative;
	//max-width: 980px;
	width: 100%;
}
section {
	overflow: hidden;
}

/* CONTENEDOR ANCHO SEGURO */
.container{
	height: auto;
	margin: 0 auto;
	max-width: 980px;
	width: 100%;
}
.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/* HEADER */
header{
	background: url(../images/bg-header.jpg) repeat-x top left;
	height: 107px;
	position: fixed;
	//margin: 0;
	top: 0;
	-webkit-transition: opacity 0.5s ease, height 0.5s;
	-moz-transition: opacity 0.5s ease, height 0.5s;
	-o-transition: opacity 0.5s ease, height 0.5s;
	-ms-transition: opacity 0.5s ease, height 0.5s;
	transition: opacity 0.5s ease, height 0.5s;
	z-index: 1003;
	.logo{
		background: url(../images/bg-logo-bcp.png) no-repeat 0 0;
		-webkit-transition: background .5s;
		-moz-transition: background .5s;
		-o-transition: background .5s;
		-ms-transition: background .5s;
		transition: background .5s;
		height: 37px;
		left: 47px;
		position: absolute;
		top: 34px;
		width: 247px;
	}
	.btn-menu-open{
		background: url(../images/bg-menu-open.png) no-repeat 0 0;
		-webkit-transition: background .5s;
		-moz-transition: background .5s;
		-o-transition: background .5s;
		-ms-transition: background .5s;
		transition: background .5s;
		height: 57px;
		//height: 100%;
		position: absolute;
		//position: fixed;
		right: 15px;
		//right: 10%;
		top: 25px;
		width: 53px;
		z-index: 1000;
	}
	nav{
		//background-color: #003F6C;
		background: rgba(0, 63, 108, 0.9);
		//display: none;
		//height: 657px;
		height: 100%;
		//position: absolute;
		position: fixed;
		right: 0;
		top: 0;
		width: 313px;
		-webkit-transform: translateX(100%);
		-ms-transform: translateX(100%);
		transform: translateX(100%);
		-webkit-transition: -webkit-transform 1s ease;
		-moz-transition: transform 1s ease;
		-ms-transition: -ms-transform 1s ease;
		-o-transition: transform 1s ease;
		transition: transform 1s ease;
		z-index: 1001;
		.btn-menu-close{
			background: url(../images/bg-menu-close.png) no-repeat 0 0;
			height: 39px;
			position: absolute;
			right: 93px;
			top: 30px;
			width: 39px;
		}
		ul.menu{
			display: block;
			height: auto;
			//left: 0;
			//position: absolute;
			//top: 140px;
			width: 313px;
			padding-top: 107px;
			li{
				display: block;
				height: auto;
				padding: 3px 0; 
				width: 100%;
				&.line-bottom{
					background: url(../images/bg-menu-li-bottom.png) no-repeat 50px bottom;
				}
				a{
					background: url(../images/bg-menu-li.png) no-repeat 34px 17px;
					color: #FFF;
					display: block;
					font-family: "flexoLightIt";
					font-size: 18px;
					padding: 10px 0 10px 50px;
					text-decoration: none;
					&.submenu{
						background-position: 34px 15px;
						color: #7dd0ff;
						font-size: 16px;
					}
					&:hover, &.on{
						background-color: #012A49;
					}
				}
			}
		}
		ul.social{
			height: 32px;
			//left: 55px;
			//position: absolute;
			//top: 300px;
			width: auto;
			padding: 50px 0 0 50px;
			li{
				display: inline-block;
				height: 32px;
				margin-right: 5px;
				width: 33px;
				a{
					display: block;
					height: 32px;
					width: 33px;
					&.facebook{
						background: url(../images/bg-social-facebook.png) no-repeat 0 0;
						&:hover {
							background: url(../images/icon-f.png) no-repeat 0 0;
							-webkit-transition: background linear .5s;
						}
					}
					&.twitter{
						background: url(../images/bg-social-twitter.png) no-repeat 0 0;
						&:hover {
							background: url(../images/icon-t.png) no-repeat 0 0;
							-webkit-transition: background linear .5s;
						}
					}
				}
			}
		}
	}
	.nav-active {
		-webkit-transform: translateX(0%);
		-ms-transform: translateX(0%);
		transform: translateX(0%);
		-webkit-transition: -webkit-transform 1s ease;
		-moz-transition: transform 1s ease;
		-ms-transition: -ms-transform 1s ease;
		-o-transition: transform 1s ease;
		transition: transform 1s ease;
	}	
}


/* FOOTER */
footer{
	background: #006AA6 url(../images/bg-footer.png) repeat-y top left;
	//height: 247px;
	.container {
		.clearfix();
		.menu {
			width: 75%;
			//padding-right: 5%;
			padding: 80px 5% 80px 0;
			float: left;
			ul.menu-1 {
				display: flex;
				li {
					display: inline-block;
					font-family: "flexoLightIt";
					font-size: 15px;
					//padding: 12px 50px 12px 60px;
					padding: 12px 25px;
					border-right: solid 1px #3370a1;
					&:first-child {
						padding-left: 0;
					}
					&:last-child {
						border-right: none;
					}
					a {
						color: #fff;
						text-decoration: none;
						&:hover {
							opacity: .7;
						}
					}
				}
			}
		}
		ul.social {
			float: left;
			width: 20%;
			padding: 80px 0;
			li {
				color: #FFF;
				display: inline-block;
				font-family: "flexoLight";
				font-size: 15px;
				height: 32px;
				line-height: 20px;
				margin: 15px 5px 0 0;
				text-align: left;
				width: 33px;
				&.text{
					height: auto;
					margin: 0;
					width: 100%;
				}
				a{
					display: block;
					height: 32px;
					width: 33px;
					&.facebook{
						background: url(../images/bg-social-facebook.png) no-repeat 0 0;
						&:hover {
							background: url(../images/icon-f.png) no-repeat 0 0;
							-webkit-transition: background linear .5s;
						}
					}
					&.twitter{
						background: url(../images/bg-social-twitter.png) no-repeat 0 0;
						&:hover {
							background: url(../images/icon-t.png) no-repeat 0 0;
							-webkit-transition: background linear .5s;
							transition: background linear .5s;
						}
					}
					&:hover {
						opacity: .8;
					}
				}
			}
		}
	}
}
.pswp {
	display: none;
}






